#bars {
    position: absolute;
    left: 0;
}

#journeyPlanner .results .locations {
    background-color: #fff !important;
}

#journeyPlanner fieldset .goBtn {
    font-size: 0;
    line-height: 0;
}

.searchDetails ul li.active {
    height: 218px;
}

footer #footerInner #basket a {
    padding-right: 20px;
    position: relative;
}

footer #footerInner #basket a img {
    position: absolute;
    bottom: 5px;
    right: 0;
}

#searchNav li a:active,
#searchNav li a:visited {
    color: #009A7B;
}

#cabinList .features .beds div p {
    padding: 0;
}

#cabinList .features .beds div strong {
    float: left;
}

#searchForm .btnSubmit {
    behavior: url("/PIE.htc");
}

div.forest .pp_close {
    top: 5px;
}