@charset 'utf-8';

/* Carousel */

/* full opacity for carousel elements
   in IE 7/8 */
#hero #controls,
#hero #carousel .feature {
    background-color: #000;
    opacity: 1;
}

/* Search form tabs */

#searchForm .details ul.tabCabinType {
    overflow: auto; /* overflow needed with the li float below */
}

#searchForm .details ul.tabCabinType li {
    float: left; /* necessary to get inactive li's appearing with zero height */
    width: 456px; /* width required for IE8 */
}

div.pp_pic_holder.forest {
    border: 1px solid #999;
}