#searchForm .location {
    overflow: hidden;
}

#searchForm .column {
    margin: 0;
}

#buttons #explore,
#buttons #availability {
    margin: 0;
}

#buttons #explore img,
#buttons #availability img {
    display: none;
}