/* Media Queries for retina displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2) { 
	header #menuTrigger { background-image: url('/img/menuTriggerX2.png') !important; background-size: 260px 43px; }
}
@media handheld, only screen and (min-width: 981px) { 
	header nav, #userTray #userMenu { display: block !important;}
}
@media handheld, only screen and (min-width: 981px) and (max-width: 1024px) { 
	/*forms*/
	#contactUsContent p, #brochureRequestContent p, #myDetailsContent p, #changePasswordContent p, #myFeedbackContent p { word-wrap: break-word }
}
@media handheld, only screen and (max-width: 980px) { 
	/* Global
	----------------------------------------------------------*/
	/* Cookie Policy Bar */
	#cookieMessageContainer { position: fixed!important; bottom: 0; left: 0; right: 0; padding: 8px; z-index: 99999; background-color: rgba(153,153,153,0.9); height: auto; width: auto !important; }
	#cookieMessageContainer #cookieMessage { width: 100% }
	/* Reset */
	#corpus { width: auto }
	.contentBlock, .contentBlock .contentContainer, #contentBlockContainer .contentBlock .spotlight, .contentContainer.location .cabinOverview, #contentBlockContainer .contentBlock hr, .contentContainer.location #cabinDetails hr, #contentBlockContainer, .contentContainer.location #features, .contentContainer.location .video.thumbnails, .bodyContent, .contactUs, .brochureRequest, .myDetails, .changePassword, .myFeedback, footer, footer .bottom ul, footer .bottom .links, #bookingConfirmation { float: none; width: 100%; margin-left: auto !important; margin-right: auto !important; padding-left: 0; padding-right: 0; display: block; overflow: hidden; }

	/* Global */
	#main { padding-bottom: 60px }
	#navShadow {width: 100%; background-position: center top; margin-bottom: 20px; }
	#contentBlockContainer .contentBlock.bg { background-image: none !important; min-height:0; }
	.contentContainer.location .cabinOverview {background-position:center 22px;}
	.contentContainer.location .cabinOverview .bodyText {margin-top:145px;}
	#contentBlockContainer .contentBlock .Left, #contentBlockContainer .contentBlock .thumbnails.Right, .contentContainer.location #cabinDetails { width: 48.935%; margin-left: 0; margin-right: 2.13%; }
	#contentBlockContainer .contentBlock .Right, #contentBlockContainer .contentBlock .contentContainer.location .Right, #contentBlockContainer .contentBlock .Left:nth-child(3) { width: 48.935%; margin-left: 0; margin-right: 0; }
	#contentBlockContainer .contentBlock .thumbnails.Left { margin-right: 0 }
	#contentBlockContainer .contentBlock .Left > img { margin: auto; display: block; max-width: 460px; height: auto; }
	.bodyText .video.thumbnails { width: 100% }
	.contentContainer.location #cabinDetails hr { margin-top: 25px; margin-bottom: 25px; }
	/* Container Blocks */
	.contentBlock { margin: 0 0 40px 0 !important;}
	#contentBlockContainer .contentBlock .Left, #contentBlockContainer .contentBlock .Right { padding-top: 15px; margin-bottom: 10px; overflow: hidden; }
	#contentBlockContainer .contentBlock .additionalInformation {width:100%; max-width:460px; margin:0 auto; overflow:hidden; float:none;}
	#contentBlockContainer .contentBlock .additionalInformation .image {width:17%}
	#contentBlockContainer .contentBlock .additionalInformation .text {width:81%; margin-left:2%; padding-left:0;}
	/* padding */
	#corpus, #userTray #footerInner.layoutContainer { padding-left: 10px; padding-right: 10px; }
	/* Availablity Dropdown */
	#searchForm, #searchForm.searchBg.message, #searchForm #noAvailability { height: auto; width: 100%; }
	#searchForm > div, #searchForm.searchBg.message > div { width: 100%; max-width: 650px; margin: auto; }
	#searchForm #noAvailability { /*width: 100%;*/ max-width: 80%; margin: auto; }
	#searchForm.searchBg  
	{
		background-image: none !important; 
		/*-webkit-box-shadow: 0 8px 6px -6px #b0b0b0; 
		-moz-box-shadow: 0 8px 6px -6px #b0b0b0; 
		box-shadow: 0 8px 6px -6px #b0b0b0; */
		margin-bottom: 20px !important; 
		}
	#searchForm .column p.heading { font-size: 17px }
	#searchForm .location .select a, #searchForm .details #detailDropdowns a.infoLink { font-size: 15px }
	#searchForm .details { clear: both; width: 100%; }
	#searchForm .column { margin-right: 0!important;}
	#searchForm .location { width: 55%; margin-right: 4%; }
	#searchForm .duration { width: 41% }
	#searchForm .column fieldset { padding-top: 25px; padding-bottom: 25px; }
	#searchForm .btnSubmit, #searchForm .btnSubmit:hover { width: 100%; background-position: 97% center; cursor:pointer;}
	#searchForm .location .map img { margin-left: 0px }
	/* individual map label and input positioning */
	#searchForm #lblArgyll { left: 67px; top: 96px; }
	#searchForm #chkArgyll { left: 110px; top: 96px; }
	#searchForm #lblBlackwood { left: 168px; top: 285px; }
	#searchForm #chkBlackwood { left: 200px; top: 270px; }
	#searchForm #lblCropton { left: 118px; top: 166px; }
	#searchForm #chkCropton { left: 178px; top: 169px; }
	#searchForm #lblDelamere { left: 40px; top: 197px; text-decoration: none; border-bottom:2px dashed green; }
	#searchForm #chkDelamere { left: 161px; top: 199px; }
	#searchForm #lblDeerpark { left: 67px; top: 286px; }
	#searchForm #chkDeerpark { left: 136px; top: 288px; }
	#searchForm #lblForestOfDean { left: 44px; top: 247px; }
	#searchForm #chkForestOfDean { left: 152px; top: 249px; }
	#searchForm #lblKeldy { left: 208px; top: 175px; }
	#searchForm #chkKeldy { left: 193px; top: 175px; }
	#searchForm #lblSherwoodForest { left: 169px; top: 221px; }
	#searchForm #chkSherwoodForest { left: 190px; top: 207px; }
	#searchForm #lblStrathryre { left: 150px; top: 85px; }
	#searchForm #chkStrathryre { left: 134px; top: 85px; }
	#searchForm .location .map label { font-size: 14px;}
	#searchForm .location .select {margin-left: 86px;}
	#searchForm .infoBox { background-image: none; background-color: #fff; height: auto; padding: 43px 28px 30px 28px; position: absolute; left: 3%; right: 3%; top: 530px; width: auto; z-index: 100; overflow: visible; -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); }
	#searchForm .infoBox:before { border-bottom: 16px solid #fff; border-left: 18px solid transparent; border-right: 18px solid transparent; content: ""; top: -9px; position: absolute; right: 60px; }
	#searchForm .infoBox .greenButton { position: relative; left: auto; top: auto; right: auto; float: none; }
	#searchForm label { font-size: 15px }
	#searchForm .tabContent label { font-size: 13px }
	#searchForm .details #detailDropdowns div { width: 120px };
	
	/* Home Hide */
	#contentBlockContainer .contentBlock { }
	body {min-width: 300px; max-width: 980px; }
	#corpus { margin-top: 50px }
	/* Temp hide */
	.bodyText > div > br { display: none }
	/*#searchAvailability { left: 0 }*/
	/* Header
		-------------------*/
	header { height: auto }
	header #menuTrigger { display: block; width: 65px; height: 42px; background-image: url('/img/menuTrigger.png'); background-position: -325px 0; position: absolute; top: 20px; right: 10px; z-index: 9999; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; -webkit-perspective: 1000; -webkit-backface-visibility: hidden; }
	header #menuTrigger.closed { background-position: 0 0 }
	header #menuTrigger, header #menuTrigger.closed:active { background-position: -130px 0 }
	header #menuTrigger, header #menuTrigger:active { background-position: -325px 0 }
	header nav { display: none; float: none; position: absolute; top: -9px; left: -10px; right: -10px; background-color: #a4a4a4; z-index: 9998; }
	header nav ul { padding: 30px 20px }
	header nav ul li { float: none; margin-bottom: 25px; }
	header nav ul li:last-child { margin-bottom: 0 }
	header nav ul li a { color: #fff !important; text-shadow: none !important; }
	/* Stick header/footer */
	#userTray .signOutBtn { display: none }
	#userTray .customerName { text-decoration: underline; cursor: pointer; }
	#userTray .customerName {display:block; padding-right:18px; background:transparent url('/img/arrowGreyBtnDown.png') no-repeat right center;}
	#userTray #userMenu { display: none; clear: both; margin-top: 40px; margin-left: 35px; }
	#userTray #userMenu li { display: block !important; float: none !important; margin-bottom: 20px; }
	#userTray #userMenu li:last-child { margin-bottom: 0 }
	#userTray #userMenu #closeBtn { display: block; background-color: #009a7b; padding: 4px; color: #fff; margin-bottom: -16px; height: 20px; width: 57px; font-size: 18px; font-weight: normal; padding: 7px 0 7px 35px; text-decoration: none; font-family: Arial, sans-serif; position: relative; }
	#userTray #userMenu #closeBtn span { display: block; width: 10px; height: 6px; position: absolute; left: 12px; top: 50%; margin-top: -3.5px; background-image: url('/img/arrowBtnUp.png'); background-size: 100% 100%; }
	#logo { float: none; width: 170px; height: 78px; background-size: 100%; margin-bottom: 12px; }
	#logo:hover { background-position: 0 -78px }
	/*Sub Navigation */
	#sub-nav-bar.sub-nav-1, #sub-nav-bar.sub-nav-2  { height: auto; background-color: transparent; }
	#sub-nav-bar.sub-nav-1 a, #sub-nav-bar.sub-nav-2 a { background-color: #005d44; font-size: 14px; line-height: 25px;}
	#sub-nav-bar.sub-nav-2 a:hover, #sub-nav-bar.sub-nav-2 a.active {background-color:#000;}
	#sub-nav-bar.sub-nav-1 ul, #sub-nav-bar.sub-nav-2 ul { overflow: hidden }
	#sub-nav-bar.sub-nav-1 ul li, #sub-nav-bar.sub-nav-2 ul li { float: left; border-bottom: 1px #9cc1b5 solid; border-left: none; border-right: none; }
	#sub-nav-bar.sub-nav-1 ul li.last, #sub-nav-bar.sub-nav-2 ul li.last { border-right: none }
	#sub-nav-bar.sub-nav-1 ul li a, #sub-nav-bar.sub-nav-2 ul li a { text-align: left; padding: 8px 22px; text-shadow: none; }
	
	#bars { clear: both; position:relative !important; }
	#bars #greenBar h1 { padding: 0 20px }

	/* Global Buttons */
	#buttons { width: 100%; float: none; overflow: hidden; }
	#buttons #explore, #buttons #availability { float: left; width: 49%; background-image: none; margin-bottom: 3px; }
	#buttons #explore:hover, #buttons #availability:hover { background-image: none }
	#buttons #explore span, #buttons #availability span { margin: 0; background-repeat: no-repeat; display: block; font-size:15px;}
	#buttons #explore span { background-image: url('/img/exploreMobIcon.png'); background-position: 14px center; padding: 14px 0 14px 45px; }
	#buttons #availability span { background-image: url('/img/availTabIcon.png'); background-position: 14px 8px; padding: 14px 0 14px 50px; }
	#buttons a, #contentBlockContainer .contentBlock .buttons a > div, footer .btn.Primary { display: block; height: auto !important; -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
	.searchDetailContainer input.add-to-basket { -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
	#buttons #availability { margin-left: 0 }
	#contentBlockContainer .contentBlock .buttons .Primary, #contentBlockContainer .contentBlock .buttons .Secondary, #contentBlockContainer .contentBlock .buttons .Special { width: 100% }
	#contentBlockContainer .contentBlock .buttons div.label { padding: 10px 40px 10px 10px; line-height: 22px; margin: 0; height: auto; }
	#contentBlockContainer .contentBlock .buttons div { position: relative }
	#contentBlockContainer .contentBlock .buttons div img { float: none; position: absolute; right: 10px; top: 50%; margin: -9px 0 0 0; }
	#buttons #explore { margin-right: 2%; background: #e1e1e1; /* Old browsers */ background: -moz-linear-gradient(top,  #e1e1e1 60%, #bbbbbb 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#e1e1e1), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #e1e1e1 60%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #e1e1e1 60%,#bbbbbb 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #e1e1e1 60%,#bbbbbb 100%); /* IE10+ */ background: linear-gradient(to bottom,  #e1e1e1 60%,#bbbbbb 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#bbbbbb',GradientType=0 ); /* IE6-9 */ }
	#buttons #explore:hover { background: #f9f9f9; /* Old browsers */ background: -moz-linear-gradient(top,  #f9f9f9 60%, #c7c7c7 99%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#f9f9f9), color-stop(99%,#c7c7c7)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #f9f9f9 60%,#c7c7c7 99%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #f9f9f9 60%,#c7c7c7 99%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #f9f9f9 60%,#c7c7c7 99%); /* IE10+ */ background: linear-gradient(to bottom,  #f9f9f9 60%,#c7c7c7 99%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#c7c7c7',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Primary, footer .btn.Primary, #buttons #availability { background: #03ab8a; /* Old browsers */ background: -moz-linear-gradient(top,  #03ab8a 60%, #078474 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#03ab8a), color-stop(100%,#078474)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #03ab8a 60%,#078474 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #03ab8a 60%,#078474 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #03ab8a 60%,#078474 100%); /* IE10+ */ background: linear-gradient(to bottom,  #03ab8a 60%,#078474 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ab8a', endColorstr='#078474',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Primary:hover, footer .btn.Primary:hover, #buttons #availability:hover { background: #1ccfb3; /* Old browsers */ background: -moz-linear-gradient(top,  #1ccfb3 60%, #029d7f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#1ccfb3), color-stop(100%,#029d7f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #1ccfb3 60%,#029d7f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #1ccfb3 60%,#029d7f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #1ccfb3 60%,#029d7f 100%); /* IE10+ */ background: linear-gradient(to bottom,  #1ccfb3 60%,#029d7f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ccfb3', endColorstr='#029d7f',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Secondary { background: #8e8d8e; /* Old browsers */ background: -moz-linear-gradient(top,  #8e8d8e 60%, #747171 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#8e8d8e), color-stop(100%,#747171)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #8e8d8e 60%,#747171 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #8e8d8e 60%,#747171 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #8e8d8e 60%,#747171 100%); /* IE10+ */ background: linear-gradient(to bottom,  #8e8d8e 60%,#747171 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8d8e', endColorstr='#747171',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Secondary:hover { background: #8e8d8e; /* Old browsers */ background: -moz-linear-gradient(top,  #d5d5d5 60%, #999899 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#d5d5d5), color-stop(100%,#999899)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #d5d5d5 60%,#999899 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #d5d5d5 60%,#999899 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #d5d5d5 60%,#999899 100%); /* IE10+ */ background: linear-gradient(to bottom,  #d5d5d5 60%,#999899 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#999899',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Special { background: #702f80; /* Old browsers */ background: -moz-linear-gradient(top,  #702f80 60%, #61266f 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#702f80), color-stop(100%,#61266f)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #702f80 60%,#61266f 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #702f80 60%,#61266f 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #702f80 60%,#61266f 100%); /* IE10+ */ background: linear-gradient(to bottom,  #702f80 60%,#61266f 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#702f80', endColorstr='#61266f',GradientType=0 ); /* IE6-9 */ }
	#contentBlockContainer .contentBlock .buttons .Special:hover { background: #8e8d8e; /* Old browsers */ background: -moz-linear-gradient(top,  #a748be 60%, #733083 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#a748be), color-stop(100%,#733083)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top,  #a748be 60%,#733083 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top,  #a748be 60%,#733083 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top,  #a748be 60%,#733083 100%); /* IE10+ */ background: linear-gradient(to bottom,  #a748be 60%,#733083 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a748be', endColorstr='#733083',GradientType=0 ); /* IE6-9 */ }
	#userTray { top: 0 !important; position: fixed !important; bottom: inherit; font-size: 18px; min-width: 300px; padding: 12px 0; }
	#userTray #footerInner { width: auto }
	#userTray #footerInner.notRegistered p, #userTray #footerInner #user ul li.small, #userTray #footerInner #basket .basketIcon { display: none }
	#userTray #footerInner #basket { background-image: none }
	#userTray #footerInner #user ul { padding: 3px 0 }
	#userTray #footerInner #user ul li:first-child { display: block }
	#userTray #footerInner #user img { width: 25px; height: auto; }
	#userTray #footerInner #user #footerIcon { margin-right: 10px }
	#userTray #footerInner #basket .basketValue { float: right; margin: 3px 10px 0px 0px; }
	#userTray #footerInner #basket { width: 35% !important; float: left !important; }
	#userTray #footerInner #basket .basketLink { margin: 3px 0 }
	#userTray #user { width: 65% !important; float: left !important; }
	#userTray #footerInner.notRegistered a { margin-left: 0 }
	#basket-tree { display: none }
	#contentBlockContainer .contentBlock .events { width: 100%; overflow: hidden; background-repeat: repeat-x; }
	#contentBlockContainer .contentBlock .events .eventsHeading, #contentBlockContainer .contentBlock .event { position: relative !important; max-width: 460px !important; width: auto !important; margin: 10px auto !important; float: none !important; }
	#contentBlockContainer .contentBlock .events .event > div { width: auto !important; padding-left: 85px; float: none !important; }
	#contentBlockContainer .contentBlock .events .eventDates { position: absolute!important; left: 0!important; top: 0!important; float: none!important; padding-left: 0!important; }
	/* Thumbnails */
	#contentBlockContainer .contentBlock .Left > img, .thumbnails .item > a img, .thumbnails .item > img { width: 100%; height: auto; display: block; }
	.thumbnails .item .caption { width: 97% }
	.thumbnails .item .caption p { margin-top: 0 }
	/* Promotion Boxes */
	#contentBlockContainer .contentBlock .offers .offer { max-width: 460px }
	#contentBlockContainer .contentBlock .offers .offerImage, #contentBlockContainer .contentBlock .offers .offerImage img { width: 100%; float: none; height: auto; display: block; }
	#contentBlockContainer .contentBlock .offers .offer .offerBg { width: auto; height: auto; background-image: none !important; background-color: #fff; -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.4); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; position: relative; float: none; overflow: hidden; }
	#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDetails { width: auto; float: none; }
	#contentBlockContainer .contentBlock .offers .offer .offerBg .offerContainer { position: relative }
	#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDescription { width: auto; float: none; padding-left: 85px; }
	#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates { position: absolute; left: 0; top: 0; float: none; }
	#contentBlockContainer .offersNewsletter { width: 100%; float: none; }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm { width: 100%; max-width: 460px; float: none; margin-left: auto; margin-right: auto; }
	#contentBlockContainer .offersNewsletterBg { background-image: none }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow { width: 100% }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow.half { width: 47%; margin-right: 6%; }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow.half:nth-child(2n+0) { margin-right: 0 }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow input { width: 100% !important; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	#contentBlockContainer .offersNewsletter #offersNewsletterForm .button input { width: 75px !important;}
	/* Home */
	#holder, #slider, #slider .box .wrap, #slider .box { width: 100%; margin: 0; padding: 0; clear: both; }
	#hero { width: auto; padding: 0 10px; }
	#homeMap { float: none; margin-left: 0; margin-right: 2.13%; }
	#homeMap .argyllBox, #homeMap .blackwoodforestBox, #homeMap .croptonBox, #homeMap .delamereforestBox, #homeMap .deerparkBox, #homeMap .forestofdeanBox, #homeMap .keldyBox, #homeMap .sherwoodforestBox, #homeMap .strathyreBox,
	#locationMap .argyllBox, #locationMap .blackwoodforestBox, #locationMap .croptonBox, #locationMap .deerparkBox, #locationMap .forestofdeanBox, #locationMap .keldyBox, #locationMap .sherwoodforestBox, #locationMap .strathyreBox {z-index:99999;}
	
	.video.thumbnails { overflow: hidden; height: auto; }
	.video.thumbnails .item .play { background: url("/img/video-play-icon.png") no-repeat scroll 0 0 transparent; height: 62px; width: 63px; left: 50%; position: absolute; top: 50%; margin-top: -31px; margin-left: -31.5px; margin-top: -45px; }
	.contentContainer > .video.thumbnails .item { width: 23%; height: auto; margin-right: 1%; padding-left: 0.4%; padding-right: 0.4%; }
	.contentContainer > .video.thumbnails .item:last-child { margin-right: 0 }
	.contentContainer > .video.thumbnails .item > img { width: 100%; height: auto; diplay: block; }
	/* Search details */
	.pnlSearchDetail { float: none; width: 100%; background-size: 47.70%; }
	.pnlSearchDetail .searchDetailContainer { margin-left: 51.34% }
	.pnlSearchDetail .searchDetailContainer .title, .pnlSearchDetail .searchDetailContainer .details, .pnlSearchDetail .searchDetailContainer .description { text-align: center }
	.pnlSearchDetail .searchDetailContainer div { width: auto !important; float: none !important; }
	.pnlSearchDetail .searchDetailContainer .priceContainer { width: auto !important; float: none !important; overflow:hidden;}
	.pnlSearchDetail .searchDetailContainer .priceContainer .price,.pnlSearchDetail .searchDetailContainer .priceContainer .bundlePrice { width: 43% !important; padding-left: 3%; padding-right: 3%; float: left !important; text-align: center !important;}
	
	.pnlSearchDetail .searchDetailContainer .priceContainer .bundleInfo { width: 43% !important; padding-left: 3%; padding-right: 3%; float: right !important; text-align: center !important;}

	.pnlSearchDetail .searchDetailContainer .priceContainer .price p, .pnlSearchDetail .searchDetailContainer .priceContainer .bundlePrice p, .pnlSearchDetail .searchDetailContainer .priceContainerNoExtraOption .price p {text-align:center!important;}


	.pnlSearchDetail .searchDetailContainer .priceContainer .bundleInfo img { }
	.pnlSearchDetail .pnlCabinTypeIcon { float: left; position: relative !important; top: auto; left: auto; margin-top: 28%; margin-left: 10px; width: 7%; background-size: 100%; }
	.searchDetailContainer input.add-to-basket { width: 100%; background-position: 97% center !important; }
	.menu-pills, .menu-pills-selected { display: none }
	.tabbed .mobileTabs { display: block !important; background-color: rgba(0,0,0,0.3); padding: 15px 25px 15px 10px; margin-bottom: 1px; font-size: 16px; color: #fff; text-decoration: none; position: relative; }
	.tabbed .mobileTabs:active, .mobileTabs:visited { color: #fff }
	.tabbed .mobileTabs:hover { color: #fff; background-color: rgba(0,0,0,0.8); }
	.tabbed .mobileTabs .arrow { width: 15px; height: 8px; display: block; background-image: url('/img/mobTabArrows.png'); background-position: 0 0; position: absolute; top: 50%; margin-top: -7.5px; right: 20px; }
	.tabbed .mobileTabs.active .arrow { background-position: right 0 }
	.tabbed #onsite #contentBlockContainer, .tabbed #nearby #contentBlockContainer, .tabbed #todo #contentBlockContainer, .tabbed #location #locationTabs, .tabbed #reviews #contentBlockContainer, .tabbed #gallery #contentBlockContainer { display: none }
	.tabbed #cabin-details #contentBlockContainer, .tabbed #onsite #contentBlockContainer, .tabbed #nearby #contentBlockContainer, .tabbed #todo #contentBlockContainer, .tabbed #location #locationTabs, .tabbed #reviews #contentBlockContainer, .tabbed #gallery #contentBlockContainer { margin-top: 20px }
	#cabin-details .contentContainer .w640 { width: 65% }
	#cabin-details .contentContainer .w640 > div { width: 100% !important;}
	#cabin-details .contentContainer .w300 { width: 30% }
	
	/* Cabin */
	#cabinDetails p, .rhs.w300 p { text-align: left !important;}
	#cabin-details .contentContainer .lhs #features .feature {background-position:center 0;}
	#cabin-details .contentContainer .lhs #features .feature p {text-align:center!important;}
	.checkin { float: none; margin-bottom: 20px; width: auto; }
	
	.pnlSearchDetail .searchDetailContainer .priceContainerNoExtraOption .price p {text-align:center !important;}
	
	/* Feature */
	.contentContainer.location #features { height: auto; overflow: hidden; margin-bottom: 30px; }
	.contentContainer.location #features .container { /*width: 100%; max-width: 460px; */}
	.contentContainer.location #features .container .feature { width: 74px; background-position: center 0; height: 100px; float: left; text-align:center;}
	.contentContainer.location #features .feature p {text-align:center!important;}
	
	/* Location */
	ul#locationTabs { overflow: hidden }
	/* Login Box */
	#loginContainer { background-image: none; background-color: #fff; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-left: 1px #d6d6d6 solid; border-right: 2px #d6d6d6 solid; border-top: 1px #d6d6d6 solid; border-bottom: 2px #d6d6d6 solid; padding-top: 20px; padding-bottom: 20px; }
	#loginContainer #loginFrameMain { background-image: none }
	#loginContainer #loginFrameTop, #loginContainer #loginFrameBottom { display: none !important;}
	#loginContainer #loginForm .formSubmit input {background-position: 95% center!important; cursor:pointer;}
	/* My Basket */
	#pnlMyBasket, #pnlBooking { background-color: transparent }
	#pnlMyBasket p, #pnlBooking p { text-align: left !important;}
	#pnlMyBasket .cabinReservation .dogsExtra, #pnlMyBasket .cabinReservation .scbExtra, #pnlMyBasket .cabinReservation .discountExtra, #pnlBooking .cabinReservation .dogsExtra, #pnlBooking .cabinReservation .scbExtra, #pnlBooking .cabinReservation .discountExtra, #pnlMyBasket .cabinReservation .pnlExtras, #pnlBooking .cabinReservation .pnlExtras { background-color: #fff; width: 100%; }
	#pnlMyBasket .cabinReservation .description, #pnlBooking .cabinReservation .description { width: 73.25%; margin-left: 10%; }
	#pnlMyBasket .cabinReservation .remove, #pnlBooking .cabinReservation .remove, #pnlMyBasket .cabinReservation .price, #pnlBooking .cabinReservation .price { width: 18%; text-align: right !important; float: right; margin-right: 13px; }
	#pnlMyBasket .weaselHead { display: none }
	#pnlMyBasket .weaselContainer { float: left; width: 100%; background-image: none; margin-bottom: 10px; border-bottom: 1px #ebebeb solid; }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer, #pnlMyBasket .weaselContainer .pnlExtraWeaselContainer { float: left; width: 94.5%; margin: 0 0 0 5.5%; min-height: 112px; }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer .scbWeaselThumbnail { float: left; width: 21.6%; height: 105px; overflow: hidden; background-repeat: no-repeat; }
	#pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselThumbnail { float: left; width: 21.6%; height: 105px; overflow: hidden; background-repeat: no-repeat; }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer .scbWeaselHeader, #pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselHeader { width: 63.37%; margin-left: 2.03%; padding: 0 0 0 9.13%; }
	#pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselHeader { background-image: url('/img/icon-basket-activities.png'); background-repeat: no-repeat; }
	#pnlMyBasket .weasel { float: left; width: 100%; padding-top: 10px; }
	#pnlMyBasket .weaselContainer .weaselDetail { width: 60%; margin-left: 11.2%; margin-top: 10px; }
	#pnlMyBasket .divider, #pnlBooking .divider { background-image: none }
	#pnlMyBasket .weaselFoot { display: none }
	#pnlMyBasket .responsiveContainer { clear: both; /*overflow: hidden; */ margin: 0 1px 30px 1px; background-color: #fff; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75); position: relative; }
	#pnlMyBasket .cabinReservation .dogsExtra .dogsHeading, #pnlMyBasket .cabinReservation .scbExtra .scbHeading, #pnlMyBasket .cabinReservation .discountExtra .discountHeading, #pnlBooking .cabinReservation .dogsExtra .dogsHeading, #pnlBooking .cabinReservation .scbExtra .scbHeading, #pnlBooking .cabinReservation .discountExtra .discountHeading, #pnlMyBasket .cabinReservation .pnlExtras .extrasHeading, #pnlBooking .cabinReservation .pnlExtras .extrasHeading, #pnlBooking .cabinReservation .pnlAttendees .attendeesHeading { width: 64.14%; margin-left: 2.82%; padding-left: 10.08%; padding-bottom: 15px; padding-top: 4px; }
	#pnlMyBasket .cabinReservation .pnlExtras .extra, #pnlBooking .cabinReservation .pnlExtras .extra, #pnlBooking .cabinReservation .pnlAttendees .attendee { width: 88.10%; margin-left: 13%; padding-left: 0; padding-bottom: 8px; }
	#pnlMyBasket .cabinReservation .pnlExtras .pnlAddExtras, #pnlBooking .cabinReservation .pnlExtras .pnlAddExtras { margin-left: 12%; padding: 0; width: auto; }
	#pnlBooking .cabinReservation .pnlAttendees .pnlUpdateAttendees, #pnlBooking .cabinReservation .pnlAttendees .attendeesDescription {margin-left:13%; padding:0; width:70%;}
	#pnlMyBasket .cabinReservation .pnlExtras h3, #pnlBooking .cabinReservation .pnlExtras h3, #pnlBooking .cabinReservation .pnlAttendees .attendeesHeading h3 { width: 100%; margin: 0; }
	#pnlMyBasket .cabinReservation .pnlExtras .extra .description, #pnlBooking .cabinReservation .pnlExtras .extra .description { width: 55% }
	#pnlMyBasket .cabinReservation .dogsExtra .dogsHeading .dogsLabel, #pnlBooking .cabinReservation .dogsExtra .dogsHeading .dogsLabel { width: 100%; margin-bottom: 5px; }
	#pnlMyBasket .cabinReservation .dogsExtra .dogsHeading .dogsQuantity, #pnlBooking .cabinReservation .dogsExtra .dogsHeading .dogsQuantity { width: 100% }
	#pnlMyBasket .cabinReservation .scbExtra .scbHeading .scbLabel, #pnlMyBasket .cabinReservation .discountExtra .discountHeading .discountLabel, #pnlBooking .cabinReservation .scbExtra .scbHeading .scbLabel, #pnlBooking .cabinReservation .discountExtra .discountHeading .discountLabel { width: 180px; margin-top: 20px; float: none; }
	#pnlMyBasket .cabinReservation .discountExtra .discountHeading .discountLabel {width: 145px; margin-top: 20px; float: none;}
	#pnlMyBasket .cabinReservation .dogsExtra .price, #pnlMyBasket .cabinReservation .scbExtra .price, #pnlMyBasket .cabinReservation .discountExtra .price, #pnlBooking .cabinReservation .dogsExtra .price, #pnlBooking .cabinReservation .scbExtra .price, #pnlBooking .cabinReservation .discountExtra .price { float: right; margin-right: 10px; }
	#pnlMyBasket .cabinReservation .pnlExtras .extra .price, #pnlBooking .cabinReservation .pnlExtras .extra .price { float: right; margin-right: 15px; text-align: right; width: 18%; }
	#pnlMyBasket .cabinReservation .pnlExtras .extra .remove, #pnlBooking .cabinReservation .pnlExtras .extra .remove { text-align: right; float: right; margin-right: 18px; }
	
	#pnlMyBasket .pnlPromotionalCode, #pnlBooking .pnlPromotionalCode {width:96%; margin:0 0; padding-left:2%; padding-right:2%;}
	#pnlMyBasket .pnlPromotionalCode .pnlViewCodeLink, #pnlBooking .pnlPromotionalCode .pnlViewCodeLink {margin-top: 10px;}
	#pnlMyBasket .pnlCheckout, #pnlBooking .pnlCheckout, #pnlMyBasket .pnlCheckout .additionalText {float:none; width:100%; margin:0;}  /* JM tweak */
	#pnlMyBasket .pnlCheckout input, #pnlBooking .pnlCheckout input {width:100%; background-position:97% center !important; cursor:pointer;}
	#pnlMyBasket .pnlBookingTotal, #pnlBooking .pnlBookingTotal {float:left; width: 100%; margin: 20px 0 10px 0}
	#pnlMyBasket .pnlBookingTotal .bookingTotalLabel, #pnlBooking .pnlBookingTotal .bookingTotalLabel {width:45%;}
	#pnlMyBasket .pnlBookingTotal .bookingTotalAmount, #pnlBooking .pnlBookingTotal .bookingTotalAmount {width:50%; float:right; text-align:right;}
	#pnlMyBasket #codes .discountCodeDetails, #pnlMyBasketpnlMyBookings #codes .discountCodeDetails {width:100%;}
	
	/* Simple basket */
	.paymentOptions .container, .paymentOptionExtras .container, #pnlWoodlandTrustV1 .container {width:96%; margin:10px 2%;}
	#pnlSimpleBasket .cabinReservation {width:100%;}
	#pnlWoodlandTrustV1 .container .wtHeader {width:80%;}
	#pnlWoodlandTrustV1 .container #wtLogo {width:20%; background-size:100%;}
	#pnlWoodlandTrustV1 .container .wtBody,
	#pnlWoodlandTrustV1 .container .wtOptions,
	#pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody {width:100%;}
	#pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOptionOther {float:left;}
	#pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption {width: 16%; margin-right: 4%;}
	#pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionBox {width:99%;}
	#pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionImage1, #pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionImage2, #pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionImage3, #pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionImage4, #pnlWoodlandTrustV1 .container .wtOptions .wtOptionsBody .wtOption .wtOptionImage5 {width:99%; backgroun-size:100%;}
	#pnlSimpleBasket .lhs  {width:60%;}
	#pnlSimpleBasket .price {width:30%;}
	.makePayment input.continue {width:100%; background-position:97% center!important; cursor:pointer;}
	
	/* SecurePayment */
	#securePayment #container {width:45%;}
	#securePayment #container > div {width:100% !important;}
	#securePayment #container .formRow, .cardLogos {width:99.98%; padding-left:0.2%;}
	#securePayment #container .formRow .ccChosen {margin:15px 0; float:none;}
	.cardLogos img {max-width:100%; height:auto;}
	
	/* Booking Confirmation */
	#bookingConfirmation .bookingConfirmation .container .bodyContent,
	#bookingConfirmation .bookingConfirmation .container .next, #bookingConfirmation .bookingConfirmation .container .feedback {width:auto;}
	#bookingConfirmation .bookingConfirmation .container .feedback a span {width:180px; background-position:180px center!important;}
	#bookingConfirmation .bookingConfirmation .container .feedback {background-image:none;}
	#bookingConfirmation .bookingConfirmation .container .next .pnlExtrasContainer,
	#bookingConfirmation .bookingConfirmation .container .next .pnlPrefsContainer {width:auto;}
	#bookingConfirmation .bookingConfirmation .container .next .pnlExtrasContainer {margin-bottom:15px;}
	#bookingConfirmation .bookingConfirmation .container .next a {line-height:21px;}
	
	/*Reservation*/
	#pnlBooking .cabinReservation .pnlAttendees {width:100%; background-color:#fff;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .titleContainer .field select {width:auto;}
	#pnlMyBasket .pnlReceiptTotal, #pnlMyBasket .pnlBalanceDue, #pnlBooking .pnlReceiptTotal, #pnlBooking .pnlBalanceDue {width:100%; margin-left:0;}
	#pnlMyBasket .pnlReceiptTotal .bookingReceiptTotalLabel, #pnlMyBasket .pnlBalanceDue .bookingReceiptBalanceDueLabel, #pnlBooking .pnlReceiptTotal .bookingReceiptTotalLabel, #pnlBooking .pnlBalanceDue .bookingReceiptBalanceDueLabel,
	#pnlMyBasket .pnlReceiptTotal .bookingReceiptValue, #pnlMyBasket .pnlBalanceDue .bookingReceiptBalanceDueValue, #pnlBooking .pnlReceiptTotal .bookingReceiptValue, #pnlBooking .pnlBalanceDue .bookingReceiptBalanceDueValue {width:50%;}

	
	
	/* Addon extras */
	#bars #greenBar.basketGreenBar {position:fixed; left:0; right:0; bottom:0; height:40px; padding:8px 0;}
	#greenBar a  {margin:0; width:290px;}
	.extraCategory {width:100%;}
	
	.recommendedExtras .item {width:auto; max-width:225px;}
	
	/* Cabin choice */

	#specificCabin .container {width:auto;}
	#specificCabin .container .ddlCabinOptions, #specificCabin .container .btnSubmit {width:95%; background-position:97% center !important; cursor:pointer;}
	
	.map-viewport {width:100%;}

	
	/* Footer */
	footer #desktop { display: none }
	footer #mobile { display: block !important; text-align: center; }
	footer #mobile .btn.Primary { display: block; width: 87%; max-width: 245px; padding: 10px 10% 10px 3%; line-height: 22px; text-align: left; color: #fff; text-decoration: none; margin: auto; position: relative; }
	footer #mobile .btn.Primary .label { margin: 0; height: auto; }
	footer #mobile .btn.Primary img { position: absolute; top: 50%; right: 10px; margin-top: -9px; }
	footer #mobile p { font-size: 18px; font-weight: normal; }
	footer #mobile strong { }
	footer #mobile .links ul { margin-top: 35px }
	footer #mobile .links ul li { margin-bottom: 12px }
	footer #mobile .links ul li a { font-size: 20px; line-height: 25px; color: #009a7b; text-decoration: none; }
	footer #mobile section { padding: 25px 0; background: url('/img/rule-460-wide.png') 0 top repeat-x; }
	footer #mobile .telephone a { text-decoration: none }
	footer #mobile .telephone .number { font-size: 40px; margin-top: 10px; text-decoration: none; }
	/*footer .bottom ul { max-width: 265px };*/
	
	footer .bottom .links .copyright { display: block }
	footer .bottom .links a { display:block; font-size: 14px; font-weight:normal; margin: 0 6px; }
}
@media handheld, only screen and (min-width: 800px) and (max-width: 980px) {
	#hero .carousel .promo {left:34px; top:-34px;}
	#hero .carousel .text {width:500px; left:50%; top:40%; margin-left: -225px;}
	#hero .carousel .text h2 {font-size:45px;}
}

@media handheld, only screen and (min-width: 749px) and (max-width: 799px) {
	#hero .carousel .promo {left:34px; top:-50px;}
	#hero .carousel .text {width:500px; left:50%; top:40%; margin-left: -225px;}
	#hero .carousel .text h2 {font-size:45px;}
}
@media handheld, only screen and (min-width: 749px) and (max-width: 980px) { 
	/*general */
	.imageGallery.thumbnails { padding: 0 20% }
	.thumbnails .item { width: 47.6%; height: auto; padding-left: 0.8%; padding-right: 0.8%; margin-right: 1.6%  !important; }
	.thumbnails .item:nth-child(2n+0) { margin-right: 0 !important;}
	.video.thumbnails .item:nth-child(2n+0) { margin-right: 1.6%  !important;}
	.w640 .video.thumbnails .item:nth-child(2n+0) { margin-right: 0 !important;}
	.video.thumbnails .item:nth-child(4n+0) { margin-right: 0 !important;}
	#contentBlockContainer .contentBlock .testimonials, #contentBlockContainer .contentBlock .testimonials .wrap-carousel-text { }
	#contentBlockContainer .contentBlock .testimonials .wrap-carousel-text > ul li { /*width: 100% !important; */ }
	#contentBlockContainer .contentBlock .testimonials .wrap-carousel-text > ul { /*width: 50% !important; */ }
	/* Sub navigation */
	#sub-nav-bar.sub-nav-1 ul li, #sub-nav-bar.sub-nav-2 ul li { width: 33.33% !important;}
	#sub-nav-bar.sub-nav-1 ul li:nth-child(3n+2) a, #sub-nav-bar.sub-nav-2 ul li:nth-child(3n+2) a { border-left: 1px #9cc1b5 solid; border-right: 1px #9cc1b5 solid; }
	/* Promotion Boxes */
	#contentBlockContainer .contentBlock .offers .offer { width: 48%; margin-right: 4%; }
	#contentBlockContainer .contentBlock .offers .offer:nth-child(2n+2) { margin-right: 0 }
	#cabin-details .contentContainer .lhs .video.thumbnails { width: 80% !important; margin-left: 0; padding-left: 10%; padding-right: 10%; }
	/* Things to do */
	.contentBlock .thingsToDo .item { width: 31%; margin-right: 2%; padding-left: 0.43%; padding-right: 0.43%; height: auto; }
	.contentBlock .thingsToDo .item img { width: 100%; height: auto; display: block; }
	.contentBlock .thingsToDo .item .caption { width: 93.5% }
	/* Extras */
	.extra { width: 100% }
	.extra .extraThumbnail { width: 14.6%; margin-right: 1.65%; }
	.extra .extraThumbnail img { width: 100% }
	.extra .extraName { width: 57%; margin-right: 1.65%; margin-bottom: 10px; }
	.extra .extraOptionsContainer { width: 24.94% }
	.extraOptionsContainer .button.like input, .extraOptionsContainer .button.like input:hover { width: 90%; background: url("/img/btn-like.png") #088975 10px center no-repeat; padding: 0 0 0 25%; }
	.extraOptionsContainer .extraOptionItems { width: 90%; margin-left: 5%; margin-right: 5%; }
	/* Location */
	#mapAndLocation { width: 100% }
	.tContent #mapAndLocation #googleMap, .tContent .map-viewport { width: 50%; margin-left: 5%; }
	.tContent #mapAndLocation #address, .sMap #specificCabinKey { width: 35%; margin-left: 5%; margin-right: 5%; padding-left: 0; padding-right: 0; }
	.tContent #mapAndLocation iframe { width: 100% !important;}
	#activity, #regions { width: 230px }
	#journeyPlanner { width: 48%; margin-right: 2%; }
	#siteInfo { width: 48% }
	/*Forms */
	#contactUsForm, #brochureRequestForm, #myDetailsForm, #changePasswordForm, #myFeedbackForm, #contactUsForm .formHeader, #brochureRequestForm .formHeader, #myDetailsForm .formHeader, #changePasswordForm .formHeader { width: 54%; margin-right: 5%; }
	#contactUsForm .formRow, #brochureRequestForm .formRow, #myDetailsForm .formRow, #changePasswordForm .formRow, #myFeedbackForm .formRow { width: 100% }
	#contactUsContent, #brochureRequestContent, #myDetailsContent, #changePasswordContent, #myFeedbackContent { width: 38% }
	#contactUsContent a, #brochureRequestContent a, #myDetailsContent a, #changePasswordContent a, #myFeedbackContent a { font-size: 14px }
	#contactUsForm .formRow .formLabel, #brochureRequestForm .formRow .formLabel, #myDetailsForm .formRow .formLabel, #changePasswordForm .formRow .formLabel, #myFeedbackForm .formRow .formLabel { width: 36%; padding-right: 10%; }
	#contactUsForm .formRow .formField, #brochureRequestForm .formRow .formField, #myDetailsForm .formRow .formField, #changePasswordForm .formRow .formField, #myFeedbackForm .formRow .formField { width: 50% }
	#contactUsForm .formRow .formField input.emailAddress, #brochureRequestForm .formRow .formField input.emailAddress, #myDetailsForm .formRow .formField input.emailAddress, #changePasswordForm .formRow .formField input.emailAddress, #myFeedbackForm .formRow .formField input.emailAddress, #contactUsForm .formRow .formField input, #brochureRequestForm .formRow input, #myDetailsForm .formRow input, #changePasswordForm .formRow input, #myFeedbackForm .formRow input { width: 100% }
	#contactUsForm .formRow span.radio input, #brochureRequestForm .formRow span.radio input, #myDetailsForm .formRow span.radio input, #changePasswordForm .formRow span.radio input, #myFeedbackForm .formRow span.radio input { width: 10%; margin-bottom: -20px; }
	#contactUsForm .formRow span.radio label, #brochureRequestForm .formRow span.radio label, #myDetailsForm .formRow span.radio label, #changePasswordForm .formRow span.radio label, #myFeedbackForm .formRow span.radio label { width: 85% }
	#contactUsForm .formRow span.checkbox input, #brochureRequestForm .formRow span.checkbox input, #myDetailsForm .formRow span.checkbox input, #changePasswordForm .formRow span.checkbox input, myFeedbackForm .formRow span.checkbox input { width: 10% }
	#contactUsForm .formRow span.checkbox label, #brochureRequestForm .formRow span.checkbox label, #myDetailsForm .formRow span.checkbox label, #changePasswordForm .formRow span.checkbox label, #myFeedbackForm .formRow span.checkbox label { width: 85%; margin-right: 0; }
	#contactUsForm textarea { width: 100%; margin-top: 20px; }
	/* Login Form */
	#loginContainer { width: 32.6%; margin-right: 3%; }
	#loginContainer  #loginFrameTop { width: 100% }
	#loginContainer  #loginFrameMain { width: 100% }
	#loginContainer  #loginForm { width: 87%; margin-left: 6%; margin-right: 6%; }
	#loginContainer  #loginForm .formHeader { width: 85%; padding-left: 15%; font-size: 16px; }
	#loginContainer  #loginForm .formLabel { }
	#loginContainer  #loginForm .formField input { width: 95%; padding: 0 2.5%; }
	#loginContainer  #loginForm .formSubmit input { padding: 0 20px; width: 100%; }
	#loginContainer  #loginFrameBottom { width: 100% }
	/* Register Form */ 
	
	#registerContainer {width:63.38%!important; margin: 0;}
	#registerContainer #registerForm .formRow { float: left; width: 100%; }
	#registerContainer #registerForm .formRow.half { width: 47% }
	#registerContainer #registerForm .formField input, #registerContainer #registerForm .formField select { width: 80%; padding: 0 2%; }
	#registerContainer #registerForm .formField input.pcaFind { }
	#registerContainer #registerForm .formField input.pcaFind:hover { }
	#registerContainer #registerForm .formSubmit { float: left; width: 100%; }
	#registerContainer #registerForm .formSubmit input {}
	#registerContainer #registerForm .formSubmit input:hover { }
	/* Accounts pages -- Booking Page */
	#pnlMyBookings { width: 100%; float: none; }
	#pnlMyBookings .bookingsSelector { width: 47%; margin-right: 5.37%; }
	#pnlMyBookings .noBookings { width: 40% }
	#pnlMyBookings select { width: 70%; margin-left: 1px; }
	#pnlMyBookings input { box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	/* Accounts pages -- my preferences */
	.contentBlock .myPreferences { width: 100%; max-width: 620px; margin-left: auto; margin-right: auto; }
	.contentBlock .myPreferences .captionItem:nth-child(2n+0) { margin-right: 0 }
	.contentBlock .monthPreferences { width: 100%; max-width: 460px; margin-left: auto; margin-right: auto; }
	.contentBlock .monthPreferences .monthRatingItem:nth-child(6n+0) { margin-right: 0 }
	/* My Basket */
	#pnlMyBasket, #pnlBooking { width: 72% }
	
	/*Stage Indicator*/
	#stageIndicator {position: absolute; top: 0; right: 0; margin-top:5px; width:500px; background-size:100%;}
	#stageIndicator .stageIndicatorLabel#stageIndicatorLabel1 {left:1px;}
	#stageIndicator .stageIndicatorLabel#stageIndicatorLabel2 {left:48px;}
	#stageIndicator .stageIndicatorLabel#stageIndicatorLabel3 {left:95px;}
	#stageIndicator .stageIndicatorLabel#stageIndicatorLabel4 {left:142px;}
	
	/*Simple basket */
	#pnlSimpleBasket {width:41.54%;}
	.paymentOptions, .paymentOptionExtras, #pnlWoodlandTrustV1, .makePayment, #bookingConfirmation .bookingConfirmation {width:54.18%;}
	
	/* SecurePayment */
	#securePayment #container {width:45%;}
	
	/*Reservation*/
	#pnlBooking .cabinReservation .pnlAttendees .attendee .guestLabel {width:12.50%; margin-right:2.40%;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .titleContainer {width:14.90%; margin-right:2.40%;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer {width:28%; margin-right:2.40%;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer {width:28%;}
	
	#pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer .field input, #pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer .field input {width:95%; padding-left:2.5%; padding-right:2.5%;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .titleContainer .label, #pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer .label, #pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer .label {float:none;}
	#pnlMyBasket .cabinReservation .cabinHeading.Golden, #pnlBooking .cabinReservation .cabinHeading.Golden,
	#pnlMyBasket .cabinReservation .cabinHeading.Silver, #pnlBooking .cabinReservation .cabinHeading.Silver,
	#pnlMyBasket .cabinReservation .cabinHeading.Copper, #pnlBooking .cabinReservation .cabinHeading.Copper {background-position:-10px 0;}
	
	/* Addon extras */
	.recommendedExtras .item {width:23.5%; margin-right:2%; position:relative; }
	.recommendedExtras .item:nth-child(4n+0) {margin-right:0;}
	.recommendedExtras .item div.caption {width:auto; left:0; right:0; bottom:0; position:absolute; float:none; height:auto;}
	.extraOptionsContainer .button input {width:auto;}
	
	/* Cabin choice */
	#specificCabin, #specificCabinKey {width:33.72%;}
	.map-viewport {width:62.42%;}
	
}
@media handheld, only screen and (min-width: 750px) and (max-width: 850px) { 
	#homeMap { margin-left: -50px }
	#locationMap #map { right: 35px }
}
@media handheld, only screen and (max-width: 748px) { 
	/* Cookie Policy Bar */
	#cookieMessageClose { margin-top: 10px }
	#cookieMessageClose a { font-size: 15px }
	.bodyText .video.thumbnails { display: none }
	.contentBlock.bg, .contactUs { background-image: none !important;}
	#contentBlockContainer .contentBlock .bodyText, #contentBlockContainer .contentBlock .buttons, #contentBlockContainer .contentBlock .events, #contentBlockContainer .contentBlock .Right, #contentBlockContainer .contentBlock .contentContainer.location .Right, #contentBlockContainer .contentBlock .thumbnails.Right, #contentBlockContainer .contentBlock .Left, #contentBlockContainer .contentBlock .Left:nth-child(3), .contentContainer.location #cabinDetails, #contactUsForm, #brochureRequestForm, #myDetailsForm, #changePasswordForm, #myFeedbackForm { float: none; width: 100%; margin-left: 0 !important; margin-right: 0 !important; padding-left: 0; padding-right: 0; display: block; }
	
	#contentBlockContainer p, #contentBlockContainer .bodyText { text-align: left }
	
	.thumbnails .item { width: 23.4%; height: auto; margin-right: 1% !important; padding-left: 0.4%; padding-right: 0.4% !important; }
	.thumbnails .item:nth-child(4n+0) { margin-right: 0 !important;}
	#contentBlockContainer .contentBlock .buttons { overflow: hidden }
	#contentBlockContainer .contentBlock .buttons a > div { float: none; margin-left: auto!important; margin-right: auto!important; overflow: hidden; }
	#contentBlockContainer .contentBlock .buttons .Primary { max-width: 460px }
	#contentBlockContainer .contentBlock .buttons .Secondary { max-width: 460px }
	#contentBlockContainer .contentBlock .buttons .Special { max-width: 460px }
	#hero .carousel .promo, #hero .carousel .text {display:none;}
	/* Home */
	#homeMap { background-size: 100%; float: none; margin: auto; }
	#locationMap #map { background-size: 100%; float: none; margin: auto; }
	#activity, #regions { width: 100%; max-width: 460px; margin: 0 auto; float: none; }
	#activity p, #regions p, #dropDown #regionList { text-align: center }
	#filter, #regions #dropDown { margin-left: auto; margin-right: auto; }
	#regions #dropDown, #regions #dropDown a { width: 100% }
	#homeMap .argyllBox, #homeMap .blackwoodforestBox, #homeMap .croptonBox, #homeMap .delamereforestBox, #homeMap .deerparkBox, #homeMap .forestofdeanBox, #homeMap .keldyBox, #homeMap .sherwoodforestBox, #homeMap .strathyreBox { /*display: none !important;*/}
	#locationMap #map .argyllBox, #locationMap #map .blackwoodforestBox, #locationMap #map .croptonBox, #locationMap #map .deerparkBox, #locationMap #map .forestofdeanBox, #locationMap #map .keldyBox, #locationMap #map .sherwoodforestBox, #locationMap #map .strathyreBox { /*display: none !important;*/}
	#journeyPlanner, #siteInfo { width: 100%; max-width: 460px; margin: 0 auto 25px auto; float: none; clear: both; }
	#journeyPlanner h2 { height: auto; padding-bottom: 10px; }
	/*Sub Navigation*/
	#bars #greenBar { background:transparent; box-shadow:none; padding: 8px 0 }
	#bars #greenBar > div { padding: 0; margin-bottom:15px; }
	#bars #greenBar > div h1 { font-size: 20px; color:#38302e; padding:0;}
	#navShadow {display:none; }
	
	#sub-nav-bar.sub-nav-1 ul li, #sub-nav-bar.sub-nav-2 ul li { width: 33.33% !important;}
	#sub-nav-bar.sub-nav-1 ul li:nth-child(2n+2) a, #sub-nav-bar.sub-nav-2 ul li:nth-child(2n+2) a { border-left: 1px #9cc1b5 solid }
	/* Promotion Box */
	#contentBlockContainer .contentBlock .offers .offer { float: none; max-width: 460px; width: 100%; margin-left: auto; margin-right: auto; }
	/* Search details */
	.pnlSearchDetail { float: none; width: 100%; max-width: 460px; background-size: 100%; margin-left: auto; margin-right: auto; }
	.pnlSearchDetail .searchDetailContainer { margin-left: 0; padding-top: 85%; }
	.pnlSearchDetail .pnlCabinTypeIcon { margin-top: 63%; margin-left: 10px; width: 12%; height: 54px; }
	
	#cabin-details .contentContainer .w640, #cabin-details .contentContainer .w640 > div, #cabin-details .contentContainer .w300 { width: 100% !important; float: none; }
	#cabin-details .contentContainer .lhs .video.thumbnails { width: 100% !important; margin-left: 0; padding-left: 0; padding-right: 0; }
	/* Things to do */
	.contentBlock .thingsToDo .item, .contentBlock .thingsToDo .item.last { width: 48.3%; margin-right: 1.43%; padding: 0; height: auto; }
	.contentBlock .thingsToDo .item:nth-child(2n+0) { margin-right: 0 }
	.contentBlock .thingsToDo .item a { display: block; border: 2px #fff solid; }
	.contentBlock .thingsToDo .item img { width: 100%; height: auto; display: block; }
	.contentBlock .thingsToDo .item .caption { width: auto; left: 2px; right: 2px; bottom: 2px; padding: 5px 25px 5px 5px; height: auto; }
	.contentBlock .thingsToDo .item .caption .explore { float: none; position: absolute; top: 50%; margin: -9px 0 0 0; right: 8px; width: 13px; }
	/* Extras */
	.extra { width: 100%; padding-bottom: 15px; }
	.extra .extraThumbnail { width: 100%; float:none; }
	.extra .extraThumbnail img { max-width: 100% }
	.extra .extraName { width: 100%; margin-right: 0; margin-bottom: 20px; }
	.extra .extraOptionsContainer {width: 100%; float: none; overflow: hidden; margin-left: 0; clear: both;}
	.extraCategoryName  {height:auto;}
	.extraOptionsContainer .button.like input, .extraOptionsContainer .button.like input:hover { }
	.extraOptionsContainer p { text-align: left !important;}
	
	.recommendedExtras {display:none;}
	
	
	/* Location */
	#mapAndLocation { width: 100% }
	.tContent #mapAndLocation #googleMap, .tContent .map-viewport, .tContent #mapAndLocation #address, .sMap #specificCabinKey { width: 90%; margin-left: 5%; margin-right: 5%; float: none; padding-left: 0; padding-right: 0; }
	.tContent #mapAndLocation iframe { width: 100% !important;}
	/*Forms */
	#contactUsForm, #brochureRequestForm, #myDetailsForm, #changePasswordForm, #myFeedbackForm, #contactUsForm .formHeader, #brochureRequestForm .formHeader, #myDetailsForm .formHeader, #changePasswordForm .formHeader, #contactUsForm .formRow, #brochureRequestForm .formRow, #myDetailsForm .formRow, #changePasswordForm .formRow, #myFeedbackForm .formRow, #brochureRequestContent, #myDetailsContent, #changePasswordContent, #myFeedbackContent, #contactUsForm .formRow .formLabel, #brochureRequestForm .formRow .formLabel, #myDetailsForm .formRow .formLabel, #changePasswordForm .formRow .formLabel, #myFeedbackForm .formRow .formLabel, #contactUsForm .formRow .formField, #brochureRequestForm .formRow .formField, #myDetailsForm .formRow .formField, #changePasswordForm .formRow .formField, #myFeedbackForm .formRow .formField, #contactUsForm .formRow .formField input.emailAddress, #brochureRequestForm .formRow .formField input.emailAddress, #myDetailsForm .formRow .formField input.emailAddress, #changePasswordForm .formRow .formField input.emailAddress, #myFeedbackForm .formRow .formField input.emailAddress, #contactUsForm .formRow .formField input, #brochureRequestForm .formRow input, #myDetailsForm .formRow input, #changePasswordForm .formRow input, #myFeedbackForm .formRow input, #contactUsForm textarea { float: none; width: 100%; max-width: 460px; margin-left: auto !important; margin-right: auto !important; padding-left: 0; padding-right: 0; display: block; overflow: hidden; text-align: left; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	#contactUsForm .formRow span.radio label, #brochureRequestForm .formRow span.radio label, #myDetailsForm .formRow span.radio label, #changePasswordForm .formRow span.radio label, #myFeedbackForm .formRow span.radio label { width: 70px; margin-left: 6px; }
	#contactUsContent, #contactUsForm .formHeader { display: none }
	#contactUsContent a, #brochureRequestContent a, #myDetailsContent a, #changePasswordContent a, #myFeedbackContent a { }
	#contactUsForm .formRow span.checkbox input, #brochureRequestForm .formRow span.checkbox input, #myDetailsForm .formRow span.checkbox input, #changePasswordForm .formRow span.checkbox input, myFeedbackForm .formRow span.checkbox input { width: 10% }
	#contactUsForm .formRow span.checkbox label, #brochureRequestForm .formRow span.checkbox label, #myDetailsForm .formRow span.checkbox label, #changePasswordForm .formRow span.checkbox label, #myFeedbackForm .formRow span.checkbox label { width: 85%; margin-left: 6px; margin-right: 0; float: left; }
	#contactUsForm textarea { margin-top: 20px }
	#contactUsForm .formRow .formField input.submit, #brochureRequestForm .formRow .formField input.submit, #myDetailsForm .formRow .formField input.submit, #changePasswordForm .formRow .formField input.submit, #myFeedbackForm .formRow .formField input.submit { width: 100%; background-position: 95% center !important; }
	#contactUsForm .formRow.invalid, #brochureRequestForm .formRow.invalid, #myDetailsForm .formRow.invalid, #changePasswordForm .formRow.invalid { background-color: transparent; background-position: 90% 5px; }
	/*Login */
	#loginContainer, #loginContainer #loginFrameTop, #loginContainer #loginFrameMain, #loginContainer #loginForm, #loginContainer #loginForm .formHeader, #loginContainer #loginForm .formLabel, #loginContainer #loginFrameBottom { float: none; width: 100%; max-width: 460px; margin-left: auto !important; margin-right: auto !important; padding-left: 0; padding-right: 0; display: block; overflow: hidden; text-align: left; }
	#loginContainer #loginForm .formField input, #loginContainer #loginForm .formSubmit input { width: 100%; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	#loginContainer  #loginForm .formHeader { width: 95%; padding-left: 10%; font-size: 16px; }
	#loginContainer > div { padding: 0 20px }
	/* Register Form */
	#registerContainer, #registerContainer #registerForm .formRow, #registerContainer #registerForm .formRow.half, #registerContainer #registerForm .formHeader, #registerContainer #registerForm .formSubmit { float: none; width: 94%; max-width: 460px; margin-left: auto !important; margin-right: auto !important; padding-left: 0; padding-right: 0; display: block; text-align: left; margin-bottom: 20px; }
	#registerContainer #registerForm { margin-top: 40px }
	#registerContainer #registerForm .formField input, #registerContainer #registerForm .formField select { width: 100%; padding: 0 1%; box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	#registerContainer #registerForm .formField input.pcaFind { background-position: 90% center !important; margin-left: 0; }
	#registerContainer #registerForm .formSubmit input { width: 100%; background-position: 95% center !important; margin-left: 0; cursor:pointer;}
	/* Accounts pages -- Booking Page */
	#pnlMyBookings { width: 100%; max-width: 460px; margin-left: auto; margin-right: auto; float: none; }
	#pnlMyBookings .bookingsSelector { width: 100% }
	#pnlMyBookings .noBookings { width: 80% }
	#pnlMyBookings .bookingsSelector, #pnlMyBookings .noBookings { padding-left: 0; margin: 0 0 20px 0; float: none; }
	#pnlMyBookings .noBookings p { padding-left: 50px; text-align: left; }
	#pnlMyBookings select { width: 65%; margin-left: 1px; }
	#pnlMyBookings input { box-sizing: border-box; -ms-box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
	
	#pnlMyBasket .pnlPromotionalCode, #pnlBooking .pnlPromotionalCode {max-width: 444px; padding:8px; margin-left:auto; margin-right:auto; float:none;}
	#pnlMyBasket .pnlBookingTotal, #pnlBooking .pnlBookingTotal,
	#pnlMyBasket .pnlCheckout, #pnlBooking .pnlCheckout {max-width: 460px; margin-left:auto; margin-right:auto; float:none;}
	
	/* Accounts pages -- My preferences */
	.contentBlock .myPreferences { width: 100%; max-width: 300px; margin-left: auto; margin-right: auto; }
	.contentBlock .myPreferences .captionItem { margin-right: 0 }
	.contentBlock .monthPreferences { width: 100%; max-width: 220px; margin-left: auto; margin-right: auto; }
	.contentBlock .monthPreferences .monthRatingItem:nth-child(3n+0) { margin-right: 0 }
	/* My Basket */
	#pnlMyBasket, #pnlBooking { width: 100% }
	
	/* Stage Indicator */
	
	#stageIndicator {background-size:100%; float:none; width:100%; max-width:460px; margin:0 auto 0 auto; height: 70px; margin-top: 0; background-repeat: no-repeat;}
	#stageIndicator .stageIndicatorLabel {display:none;}
	
	/* Simple basket */
	#pnlSimpleBasket, #bookingConfirmation .bookingConfirmation,
	.paymentOptions, .paymentOptionExtras, #pnlWoodlandTrustV1, .makePayment  {width:100%; max-width:460px; float:none; margin-bottom:35px; margin-left:auto; margin-right:auto; overflow:hidden;}
	.extraName {width:100%;}
	
	/* SecurePayment */
	#securePayment #container {width:100%; max-width:460px; float:none; margin-bottom:25px; margin-left:auto; margin-right:auto; overflow:hidden;}
	
	/* Reservation*/
	#pnlMyBasket .cabinReservation, #pnlBooking .cabinReservation,
	#pnlMyBasket .pnlReceiptTotal, #pnlMyBasket .pnlBalanceDue, #pnlBooking .pnlReceiptTotal, #pnlBooking .pnlBalanceDue,
	#pnlBooking .pnlBookingTotal  {width:100%; max-width:460px; margin-left:auto; margin-right:auto; float:none; overflow:hidden; clear:both;}
	#pnlMyBasket .cabinReservation .cabinHeading.Golden, #pnlBooking .cabinReservation .cabinHeading.Golden,
	#pnlMyBasket .cabinReservation .cabinHeading.Silver, #pnlBooking .cabinReservation .cabinHeading.Silver,
	#pnlMyBasket .cabinReservation .cabinHeading.Copper, #pnlBooking .cabinReservation .cabinHeading.Copper {background-image:none;}
	
	#pnlBooking .cabinReservation .pnlAttendees .attendee .guestLabel {margin:0 0 10px 0;}
	
	#pnlBooking .cabinReservation .pnlAttendees .attendee .guestLabel,
	#pnlBooking .cabinReservation .pnlAttendees .attendee .titleContainer,
	#pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer, 
	#pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer {width:80%; float:none; clear:both;}
	#pnlBooking .cabinReservation .pnlAttendees .attendee .titleContainer .label, #pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer .label, #pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer .label {float:none;}
	
	#pnlBooking .cabinReservation .pnlAttendees .attendee .forenamesContainer .field input, #pnlBooking .cabinReservation .pnlAttendees .attendee .surnameContainer .field input {width:95%; padding-left:2.5%; padding-right:2.5%;}

	#specificCabin, #specificCabinKey {width:100%; max-width:460px; margin:0 auto; float:none; overflow:hidden;}
	.map-viewport {width:100%; max-width:460px; float:none; margin:20px auto;}
	
	#pnlPromotionalCode {float:none; overflow:hidden;}
	#pnlPromotionalCode .promotionalCodeText, #pnlPromotionalCode .wrapper, #pnlPromotionalCode #discountCodes {width:100%; max-width:460px; margin-left: auto; margin-right:auto; overflow:hidden; float:none; }
	#pnlPromotionalCode .promotionalCodeText {margin-bottom:8px;}
	#pnlPromotionalCode #discountCodes .discountCodeDetails {width:100%;}
	#pnlPromotionalCode .wrapper input.codeTextbox, #pnlPromotionalCode .wrapper input.codeTextbox {margin-bottom:8px;}
	#pnlPromotionalCode .codeErrorMessage {text-align:left;}
	
	#pnlPromotionalCodeMessage {width: 100%;}
	#pnlPromotionalCodeMessage {background-image: none;}
	#pnlPromotionalCodeMessage .icon {margin: 0px 12px 0px 0px;}
	#pnlPromotionalCodeMessage .message {float:none;}
	
}
@media handheld, only screen and (min-width:479px) and (max-width: 748px) { 
	.small-carousel { width: 460px; margin: 0 auto !important; }
	/*Sub Navigation*/
	#sub-nav-bar.sub-nav-1 ul li, #sub-nav-bar.sub-nav-2 ul li { float: left!important; width: 50% !important; }
	#sub-nav-bar.sub-nav-1 ul li:nth-child(2n+2) a, #sub-nav-bar.sub-nav-2 ul li:nth-child(2n+2) a { border-left: 1px #9cc1b5 solid }
	/* Cabin */
	#cabin-details .contentContainer .rhs .images div { width: 15%; height: auto; margin-right: 1.6% !important; }
	#cabin-details .contentContainer .rhs .images div img { width: 100%; height: auto; }
}
@media handheld, only screen and (max-width: 649px) { 
	/* Availablity Dropdown */
	#searchForm { width: 100%; max-width: none; }
	/* Basket */
	#pnlMyBasket .cabinReservation .description, #pnlBooking .cabinReservation .description { width: 55%; margin-left: 4%; }
	#pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselThumbnail, #pnlMyBasket .weaselContainer .pnlSCBWeaselContainer .scbWeaselThumbnail { display: none }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer, #pnlMyBasket .weaselContainer .pnlExtraWeaselContainer { margin-left: 2% }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer .scbWeaselHeader, #pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselHeader { width: 80.37%; margin-left: 2.03%; padding: 6px 0px 0px 15.13%; }
	#pnlMyBasket .weaselContainer .weaselDetail { width: 80%; margin-left: 17.2%; margin-top: 10px; }
	/*
		#pnlMyBasket .cabinReservation .dogsExtra .dogsHeading,
		#pnlMyBasket .cabinReservation .scbExtra .scbHeading,
		#pnlMyBasket .cabinReservation .discountExtra .discountHeading,
		#pnlBooking .cabinReservation .dogsExtra .dogsHeading,
		#pnlBooking .cabinReservation .scbExtra .scbHeading,
		#pnlBooking .cabinReservation .discountExtra .discountHeading {
			width: 60.14%;
			margin-left: 4.2%;
			padding-left: 14.08%;
		}
		*/
	#pnlMyBasket .cabinReservation .cabinHeading.Golden, #pnlBooking .cabinReservation .cabinHeading.Golden, #pnlMyBasket .cabinReservation .cabinHeading.Silver, #pnlBooking .cabinReservation .cabinHeading.Silver, #pnlMyBasket .cabinReservation .cabinHeading.Copper, #pnlBooking .cabinReservation .cabinHeading.Copper { background-image: none }


	/* Addon extras */
	.recommendedExtras .item {width:48%; margin-right:2%; position:relative;}
	.recommendedExtras .item:nth-child(2n+0) {margin-right:0;}
	.recommendedExtras .item div.caption {width:auto; left:0; right:0; bottom:0; position:absolute; float:none; height:auto;}
	

}
@media handheld, only screen and (max-width: 600px) { 
	/* Global */
	#userTray { font-size: 15px }
	#buttons #explore, #buttons #availability { overflow: hidden; float: none; width: 100%; display: block; margin: 0 0 5px 0; }
	#homeMap { }
	/* Content Block */
	#contentBlockContainer .contentBlock .Left p, #contentBlockContainer .contentBlock .Right p { font-size: 17px; line-height: 23px; }
	#contentBlockContainer .contentBlock .buttons .Primary { width: 100%; margin-right: 0; }
	#contentBlockContainer .contentBlock .buttons .Secondary { width: 100%; margin-right: 0; }
	.thumbnails .item, .contentContainer > .video.thumbnails .item { width: 47.6% !important; height: auto; padding-left: 0.8%; padding-right: 0.8%; margin-right: 1.6% !important; }
	.thumbnails .item:nth-child(2n+0), .contentContainer > .video.thumbnails .item:nth-child(2n+0) { margin-right: 0 !important;}
	/*Testimonial Carousel */
	.testimonials div.wrap-carousel-text { width: 100% !important; max-width: 460px; margin: 30px auto 0 auto !important; padding-left: 0 !important; padding-right: 0 !important; text-align: left; }
	/* Basket */
	#pnlMyBasket .cabinReservation .pnlExtras .extra .price, #pnlBooking .cabinReservation .pnlExtras .extra .price { text-align: right }
	
	#cabin-details .contentContainer .lhs #features .container .feature {width:74px;}
}
@media handheld, only screen and (max-width: 550px) { 
	/* Availablity Dropdown */
	#searchForm { width: 100%; max-width: none; }
	#searchForm .location, #searchForm .duration { width: 100% }
	#searchForm .details #detailDropdowns a.infoLink { float: none; padding-top: 22px; width: 100%; margin-right: 0; clear: both; }
	#searchForm .infoBox { top: 1130px; padding: 18px; }
	#searchForm .infoBox:before { left: 60px; right: auto; }
	#homeMap { margin: 0 0 0 -25px }
}
@media handheld, only screen and (max-width: 480px) { 
	/* Availablity Dropdown */
	#searchForm .details #detailDropdowns div { float: none; margin-bottom: 10px; }
	#searchForm .details ul.tabCabinType li.or { display: none; }
	#searchForm .details ul.tabCabinType p { width: 120px; left:0}
	#searchForm .details ul.tabCabinType .type p { left: 130px }
	#searchForm .details .tabInner div { float: none !important; margin-right: 10px; }
	#homeMap { margin: 0 0 0 -100px }
	#locationMap #map { right: 150px }
	/*Buttons */
	#contentBlockContainer .contentBlock .buttons div.label { }
	/*Sub Navigation*/
	#sub-nav-bar.sub-nav-1 ul li, #sub-nav-bar.sub-nav-2 ul li { float: none !important; width: 100% !important; }
	/* Cabin */
	#cabin-details .contentContainer .rhs .images div { width: 31%; height: 100px; margin-right: 1.6% !important; }
	#cabin-details .contentContainer .rhs .images div img { width: 100%; height: auto; }
	/* Location Maps */
	ul#locationTabs p.tab { width: 140px }
	ul#locationTabs .lMap p.tab { left: 0 }
	ul#locationTabs .sMap p.tab { left: 150px }
	#journeyPlanner fieldset label { width: 100%; display: block; float: none; margin-bottom: 10px; }
	#journeyPlanner fieldset #postcode, #journeyPlanner fieldset .goBtn { float: none; display: block; margin-bottom: 10px; }
	/* Basket */
	#pnlMyBasket .cabinReservation .description, #pnlBooking .cabinReservation .description { width: 90%; margin-left: 6%; margin-bottom: 20px; }
	#pnlMyBasket .cabinReservation .cabinHeading .remove, #pnlMyBasket .cabinReservation .cabinHeading .price { margin-left: 6%; text-align: left; width: 50%; }
	#pnlMyBasket .weaselContainer .pnlSCBWeaselContainer .scbWeaselHeader, #pnlMyBasket .weaselContainer .pnlExtraWeaselContainer .extraWeaselHeader { width: 77.37%; margin-left: 4.03%; padding: 0 0px 0px 17.13%; }
	#pnlMyBasket .weaselContainer .weaselDetail { width: 77%; margin-left: 21.2%; margin-top: 10px; }
	#pnlMyBasket .cabinReservation .dogsExtra .dogsHeading, #pnlMyBasket .cabinReservation .scbExtra .scbHeading, #pnlMyBasket .cabinReservation .discountExtra .discountHeading, #pnlBooking .cabinReservation .dogsExtra .dogsHeading, #pnlBooking .cabinReservation .scbExtra .scbHeading, #pnlBooking .cabinReservation .discountExtra .discountHeading, #pnlMyBasket .cabinReservation .pnlExtras .extrasHeading, #pnlBooking .cabinReservation .pnlExtras .extrasHeading, #pnlBooking .cabinReservation .pnlAttendees .attendeesHeading { width: 50%; margin-left: 4.2%; padding-left: 16.08%; }
	#pnlMyBasket .cabinReservation .pnlExtras .extra, #pnlBooking .cabinReservation .pnlExtras .extra, #pnlBooking .cabinReservation .pnlAttendees .attendee { width: 75.1%; margin-left: 22%; padding-left: 0; padding-bottom: 8px; }
	#pnlMyBasket .cabinReservation .dogsExtra .price, #pnlMyBasket .cabinReservation .scbExtra .price, #pnlBooking .cabinReservation .dogsExtra .price, #pnlBooking .cabinReservation .scbExtra .price, #pnlBooking .cabinReservation .discountExtra .price { width: 18% }
	#pnlMyBasket .cabinReservation .discountExtra .price {width:25%;}
	#pnlMyBasket .cabinReservation .pnlExtras .extra .price, #pnlBooking .cabinReservation .pnlExtras .extra .price, #pnlMyBasket .cabinReservation .pnlExtras .extra .remove, #pnlBooking .cabinReservation .pnlExtras .extra .remove { width: 30%; margin-right: 0; }
	#pnlMyBasket .cabinReservation .pnlExtras .pnlAddExtras, #pnlBooking .cabinReservation .pnlExtras .pnlAddExtras, #pnlBooking .cabinReservation .pnlAttendees .pnlUpdateAttendees, #pnlBooking .cabinReservation .pnlAttendees .attendeesDescription { margin-left: 22% }
	
	#pnlMyBasket .pnlPromotionalCode input.promotionalCodeTextbox, #pnlBooking .pnlPromotionalCode input.promotionalCodeTextbox {width:60%;}

	
	/* Footer */
	footer #mobile p { font-size: 16px; font-weight: normal; }
	footer .bottom ul li {margin: 0px 5px 0px 5px;}
}
@media handheld, only screen and (max-width: 390px) { 
	#homeMap { margin: 0 0 0 -128px }
	
	#userTray #footerInner #user #footerIcon {display:none;}
	#userTray #user {width:50%!important;}
	#userTray #userMenu {margin-left:0;}
	#userTray #footerInner #basket {width:48%!important;}
}
@media handheld, only screen and (max-width: 350px) { 
	#homeMap { margin: 0 0 0 -112px; height: 467px; width: 367px; }
	#homeMap .flag { font-size: 12px }
	#homeMap .argyll { left: 118px; top: 90px; }
	#homeMap .keldy { left: 200px; top: 185px; }
	#homeMap .strathyre { left: 182px; top: 82px; }
	#homeMap .cropton { left: 273px; top: 178px; }
	#homeMap .delamereforest { left: 132px; top: 270px; }
	#homeMap .delamereforest a { background-position: right 0; height: 54px; width: 126px; }
	#homeMap .delamereforest a span { left: 9px }
	#homeMap .blackwoodforest { left: 279px; top: 330px; }
	#homeMap .blackwoodforest a { width: 123px }
	#homeMap .blackwoodforest a span { left: 12px }
	#homeMap .forestofdean { left: 129px; top: 310px; }
	#homeMap .forestofdean a { background-position: right 0; height: 54px; width: 126px; }
	#homeMap .forestofdean a span { left: 9px }
	#homeMap .sherwoodforest { left: 267px; top: 244px; }
	#homeMap .sherwoodforest a { width: 117px }
	#homeMap .deerpark { left: 176px; top: 366px; }
	#locationMap #map { right: 115px; height: 467px; width: 367px; }
	#locationMap #map .flag { font-size: 12px }
	#locationMap #map .argyll { left: 113px; top: 93px; }
	#locationMap #map .keldy { left: 200px; top: 185px; }
	#locationMap #map .strathyre { left: 182px; top: 82px; }
	#locationMap #map .cropton { left: 273px; top: 178px; }
	#locationMap #map .blackwoodforest { left: 279px; top: 330px; }
	#locationMap #map .blackwoodforest a { width: 123px }
	#locationMap #map .blackwoodforest a span { left: 12px }
	#locationMap #map .forestofdean { left: 129px; top: 310px; }
	#locationMap #map .forestofdean a { background-position: right 0; height: 54px; width: 126px; }
	#locationMap #map .forestofdean a span { left: 9px }
	#locationMap #map .sherwoodforest { left: 267px; top: 244px; }
	#locationMap #map .sherwoodforest a { width: 117px }
	#locationMap #map .deerpark { left: 176px; top: 366px; }
}


/* New responsive SearchAvailability */

@media handheld, only screen and (min-width: 946px) {
	.block.location, .block.duration, .block.when, .tab-container, #promoContainer {display:block!important;}
}
@media handheld, only screen and (max-width: 945px) { 
	#searchFormContainer {width:100%; max-width:460px; margin:0 auto;}
	#searchFormContainer.stepOne .innerContainer {padding-bottom:25px;}
	#searchFormContainer.stepTwo .block {min-height:0;}
	#searchFormContainer.stepOne .block {width:auto; float:none; border-right:0; margin-top:25px; padding:0 20px 25px 20px; border-bottom:1px #C5C5C5 solid;}
	#searchFormContainer.stepTwo .block {width:100%; float:none; border-right:0; padding-top:15px;}
	#searchFormContainer.stepOne .block.last {padding-bottom:0; border-bottom:0;}
	#searchFormContainer .block.last {margin-bottom:0!important;}
	
	.block.duration {padding-bottom:30px;}
	.block.when {padding-bottom:30px;}
	#searchFormContainer #tab-container {margin-top:0; padding-top:15px; padding-bottom:15px; border-top:0;}
	#searchFormContainer .innerContainer {padding-top:5px!important; padding-bottom:5px!important;}
	#searchFormContainer .info {position:relative; top:auto; left:auto; right:auto;}
	#searchFormContainer .info.icon {background-position:left top; margin-top:20px;}
	#searchFormContainer .duration .radios div {display:block;}
	#searchFormContainer #calendarContainer {margin-bottom:30px;}
	#searchFormContainer .btnContainer {margin:25px 0 60px 0;}
	#searchFormContainer.stepTwo #calendarContainer,
	#searchFormContainer .location .locationContainer {width:100%; max-width:250px;}
	#searchFormContainer.stepTwo #mapDropDown span, #searchFormContainer.stepTwo .duration select, #searchFormContainer.stepTwo .duration .selectboxit-container span, #searchFormContainer.stepTwo .duration .selectboxit-container .selectboxit-options a {font-size:14px!important;}
	#searchFormContainer .duration .inner {padding:0;}
	#searchFormContainer #tab-container .splitter {display:none;}
	#searchFormContainer #tab-container {}
	#searchFormContainer #tab-container .cabin-types {width:45%; margin-left:0;}
	#searchFormContainer #tab-container .cabin-features {margin-left:2%; width:45%;}
	#searchFormContainer #tab-container .tab a {font-size:13px;}
	#searchFormContainer #tab-container #cabin-types > div {width:100%; float:none; margin-bottom:10px;}
	#searchFormContainer #tab-container #cabin-features > div {width:100%; max-width:220px; float:none;}
	#searchFormContainer #tab-container #cabin-features > div label {font-size:14px;}
	#searchFormContainer #tab-container #cabin-features > div input[type="checkbox"] {float:right;}
	#searchFormContainer #promoContainer .promoText {width:100%; margin-right:0; float:none; padding-top:10px;}
	#searchFormContainer #promoContainer .promoInput {width:100%; float:none; margin-top:10px;}
	#searchCount, #searchResultsContainer {width:100%; max-width:460px; margin:0 auto; overflow:hidden;}
	#searchCount {padding-top:0; background-image:none;}
	#searchCount .count, #searchCount .displayBy,
	#searchCount .displayBy > div {width:100%; float:none; margin:0; clear:both;}
	#searchCount .displayBy {margin-top:20px;}
	#searchResultsContainer .result .content,
	#searchResultsContainer .result .dates  {width:100%; float:none; margin:0; overflow:hidden;}
	#searchResultsContainer .result .content {margin-bottom:30px;}
	#loadMoreResults {margin-bottom:100px;}
	
	/* Results */
	#searchResultsContainer .result {background-image:none; background-color:#fff; padding:15px; margin-bottom:20px;}
	
	/* btns */
	.btnContainer {width:100%; max-width:460px; margin-left:auto; margin-right:auto;}
	.btnContainer .containerOut {float:none; right:auto; position: relative;}
	.btnContainer .containerIn {float:none; right:auto; position: relative;}
	.btn.large, .btn.arrowDown.medium {width:100%; display:block; max-width:460px;}
	#loadMoreResults .btn {width:auto; display:block; max-width:460px;}
	
	/* Search Results Mobile Menu */
	.mobileTitle {display:block!important; font-size:16px; font-weight:bold; margin-bottom:20px;}
	#searchFormContainer.stepTwo .innerContainer {padding-bottom:15px;}
	.mobileEdit {font-size:14px; padding:15px 8px; display:block!important; overflow:hidden; border-top:1px #D5D5D5 solid;}
	.mobileEdit.first {border-top:0;}
	.mobileEdit a {display:block; float:right; text-decoration:underline; cursor:pointer;}
	#searchFormContainer.stepTwo .block.location, #searchFormContainer.stepTwo .block.duration, #searchFormContainer.stepTwo .block.when, #searchFormContainer.stepTwo .tab-container, #searchFormContainer.stepTwo #promoContainer {display:none;}
	#searchFormContainer .block {padding-left:8px; padding-right:8px;}
	#mapDropDown {display:none;}
	#searchFormContainer .location .locationContainer #mapContainer {display:block!important; position:relative!important; top:-18px; left:auto; border:none; -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none;}
	
	#pnlPromotionalCodeMessage.searchResultsPromotionalCodeMessage {width: 100%;}
	#pnlPromotionalCodeMessage.searchResultsPromotionalCodeMessage {background-image: none;}
	#pnlPromotionalCodeMessage.searchResultsPromotionalCodeMessage .icon {margin: 0px 12px 0px 0px;}
	#pnlPromotionalCodeMessage.searchResultsPromotionalCodeMessage .message {float:none;}
}
@media handheld, only screen and (max-width: 460px) { 
	#searchResultsContainer .result .content .rooms > div img {height:auto;}
	#searchCount .showing {font-size:14px;}
	.btn.arrowRight.small span {display:none;}
	.btn.arrowRight.small {padding:12px 8px!important; font-size:16px!important; text-align:center; height:auto!important; }
	#searchResultsContainer .dates .yourDates .soldOut {font-size:12px!important;}
	#searchResultsContainer .dates .futureDates .price {font-size:16px;}
}
@media handheld, only screen and (max-width: 400px) { 
#searchFormContainer .btnContainer {margin-bottom:30px;}
#searchCount .count .date,
#searchCount .displayBy {display:none;}
#searchResultsContainer .result .content .details .image {margin-bottom:10px;}
#searchResultsContainer .result .content .details .image,
#searchResultsContainer .result .content .details .text,
#searchResultsContainer .result .content .rooms {width:100%; float:none;}

#searchResultsContainer .result .content .details .text .features {margin-bottom: 18px; margin-top: -48px; overflow: hidden; z-index: 999; position: relative;}
#searchResultsContainer .result .content .details .text .features li {margin-right: 0; display: block; background-color: #fff; overflow: hidden; float: left; padding: 4px 4px 0 4px;}

#searchResultsContainer .bedTrigger {display:inline!important; cursor:pointer;}
#searchResultsContainer .rooms,
#searchResultsContainer .futureDates {display:none;}
#searchResultsContainer .dates .yourDates {margin-bottom:0;}
#searchResultsContainer .nextDates {margin-top:15px; display:block!important; cursor:pointer; font-size:15px;}
}
@media handheld, only screen and (max-width: 350px) { 
	#searchFormContainer .location .map {margin-left:-28px!important;}
	#searchFormContainer.stepTwo .location .locationContainer #mapContainer {width:221px;}
	#searchFormContainer.stepTwo .location .map {margin-left:-46px;}
	#searchFormContainer .duration .radios div label {font-size:14px;}
}