﻿@charset 'utf-8';

/* YAHOO! UI 'Reset' ================================================ */

@import 'http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css';

body, input.text, textarea {
    font-family: Arial, sans-serif;
}

html,
body {
    background-color: White;
    color: #222;
    font-size: 1em;/* 14px */
}

body {
}

h1, h2, h3, h4, h5 , h6 {}

a {
    color: #009A7B;
    font-weight: bold;
    text-decoration: underline;
}

a:visited,
a:active {
    color: #006449;
}

a:hover {
    color: #702f80;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}


