﻿/* CSS Reset */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,siteset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}
/* End CSS Reset */

@font-face{
font-family:"Avenir LT W01 55 Roman";
src:url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix");
src:url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?#iefix") format("eot"),url("/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),url("/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),url("/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
}
@font-face{
font-family:"Avenir LT W01 65 Medium";
src:url("/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix");
src:url("/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?#iefix") format("eot"),url("/fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),url("/fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),url("/fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}

/*
@font-face{
font-family:"Avenir LT W01 55 Roman";
src:url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir LT W01 55 Roman";
src:url("/fonts/2f5a6074-badc-4e08-83f1-ed67fe5c3d7c.eot?iefix");
src:url("/fonts/b9ebb19d-88c1-4cbd-9baf-cf51972422ec.woff") format("woff"),url("/fonts/5ed4f98e-9044-4810-88ff-74d412c1351f.ttf") format("truetype"),url("/fonts/4cb16859-16ca-4342-b89c-292dc83266af.svg#4cb16859-16ca-4342-b89c-292dc83266af") format("svg");
}
@font-face{
font-family:"Avenir LT W01 65 Medium";
src:url("/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix") format("eot");}
@font-face{
font-family:"Avenir LT W01 65 Medium";
src:url("/fonts/212ab03d-5db2-4d6a-b94c-171cc702aa51.eot?iefix");
src:url("/fonts/2cac77ec-9bc0-4ee7-87e4-27650190744f.woff") format("woff"),url("/fonts/aaf11848-aac2-4d09-9a9c-aac5ff7b8ff4.ttf") format("truetype"),url("/fonts/294099f3-8d00-4676-afc5-5e9d8d43ad69.svg#294099f3-8d00-4676-afc5-5e9d8d43ad69") format("svg");
}
*/

/* WS Error Indicator (Experimental)*/
.wsI 
{
	float: right;
	width: 2px;
	height: 1px;
	background-color: Red;
}

/* Cookie Message Container Start */
#cookieMessageContainer
{
	margin: 0 auto;
	font-size: 1em;
	width: 100%;
	height: 1.5em;
	margin: 0 auto;
	text-align: left;
	background-color: #CECCCF;
	padding-top: 2px;
}

#cookieMessageContainer a
{
	font-weight: normal;
	text-decoration: underline;
	color: #000000;
	background-repeat: no-repeat;
}

#cookieMessage
{
	width: 916px;
	margin: 0 auto;
}

#cookieMessageClose
{
	float: right;
}

#cookieMessageClose a
{
	display: block;
	width: 56px;
	float: right;
	background: url("/img/closeicon.png");
	background-position: right;
	background-repeat: no-repeat;
	text-decoration: none;
}
/* Cookie Message Container End */

/* Hero (contains the main carousel)*/
#hero #shadow {
	background-image: url(/img/slide-shadow.png);
	background-repeat: no-repeat;
	width: 100%;
	height: 24px;
}
/* End Hero */

/* Navigation */
#bars #greenBar 
{
	height: inherit;
}

#bars #greenBar.basketGreenBar 
{
	height: 70px;
}

#bars nav {
margin: 0px 0px 0px 0px;
}

#navShadow 
{
	width: 1200px;
	margin: 0 auto;
	background-image: url(/img/slide-shadow.png);
	height: 24px;
	clear: both;
}

#noShadow	/* only on Search Results Page, because we're showing Discount Code panels */
{
	width: 1200px;
	margin: 0 auto;
	height: 20px;
	clear: both;
}

/* End Navigation */

/* Page Header*/

#stageIndicator 
{
	float:right;
	width: 583px;
	height: 110px;
	margin-top: 10px;
	background-repeat: no-repeat;
}

#stageIndicator.stage1 
{
background-image: url('/img/indicator-st1.png');
}

#stageIndicator.stage2 
{
background-image: url('/img/indicator-st2.png');
}

#stageIndicator.stage3 
{
background-image: url('/img/indicator-st3.png');
}

#stageIndicator.stage4 
{
background-image: url('/img/indicator-st4.png');
}

#stageIndicator .stageIndicatorLabel 
{
	position: relative;
	display: inline-block;
	width: 90px;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
}

#stageIndicator .stageIndicatorLabel#stageIndicatorLabel1
{
	left: 10px;
	top: 75px;
}

#stageIndicator .stageIndicatorLabel#stageIndicatorLabel2
{
	left: 80px;
	top: 75px;
}

#stageIndicator .stageIndicatorLabel#stageIndicatorLabel3
{
	left: 150px;
	top: 75px;
}

#stageIndicator .stageIndicatorLabel#stageIndicatorLabel4
{
	left: 220px;
	top: 75px;
}

#buttons img {
    float: right;
    margin: 15px 14px 0 0;
}

#buttons #explore,
#buttons #availability {
    height: 47px;
}

#buttons #explore {
    background: url("/img/grey-header-button.png") no-repeat scroll 0 0 transparent;
}

#buttons #explore:hover {
    background: url("/img/grey-header-button-r.png") no-repeat scroll 0 0 transparent;
}

#buttons #availability {
    background: url("/img/green-header-button.png") no-repeat scroll 0 0 transparent;
}

#buttons #availability:hover {
    background: url("/img/green-header-button-r.png") no-repeat scroll 0 0 transparent;
}
/* End Page Header*/

.error
{
	color: Red;
	font-weight: bold;
}

/* Body Content */
.bodyContent 
{
	margin: 15px 0px 0px 0px;
	float:left;
	width: 940px;
	color: #38302E;
	font-size: 1.45em;
    line-height: 30px;
}

.bodyContent h1, .bodyContent h2
{
	font-size: 2.1em;
	line-height: 1.8em;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
}

#bookingConfirmation 
{
	float:left;
	margin-top: 35px;
	width: 960px;
}

#bookingConfirmation .bookingConfirmation {
	float:left;
	width: 518px;
}

#bookingConfirmation .bookingConfirmation .container .bodyContent 
{
	float:left;
	width: 500px;
}

#bookingConfirmation .bookingConfirmation .container .next,
#bookingConfirmation .bookingConfirmation .container .feedback {
	float:left;
	width: 480px;
	background-color: White;
	padding: 10px 10px 10px 10px;
	border: 1px solid #C3C1C1;
}

#bookingConfirmation .bookingConfirmation .container .feedback 
{
	padding: 15px 10px 10px 10px;
	background-image: url('/~/media/2FA472A2848F4F269C7A2E4108B07FD0.ashx');
	background-position: top right;
	background-repeat: no-repeat;
	margin-top: 20px;
}
#bookingConfirmation .bookingConfirmation .container .next h2
{
	font-size: 1.95em;
	font-weight: bold;	
	margin: 0px 0px 8px 0px;
}

#bookingConfirmation .bookingConfirmation .container .feedback h2
{
	font-size: 1.3em;
	font-weight: bold;	
	margin: 0px 0px 20px 0px;
}

#bookingConfirmation .bookingConfirmation .container .next p,
#bookingConfirmation .bookingConfirmation .container .feedback p
{
	font-size: 1.15em;
	line-height: 1.5em;
	margin: 0px 0px 5px 0px;
}

#bookingConfirmation .bookingConfirmation .container .next a
{
	font-size: 1.4em;
	line-height: 1.8em;
	background-image: url('/img/explore-icon-green.png');
	background-repeat:no-repeat;
	background-position: right center;
	padding-right: 18px;
	height: 20px;
}

#bookingConfirmation .bookingConfirmation .container .next .pnlExtrasContainer {
	float: left;
	width: 440px;
	background: url('/img/icon-basket-activities.png') no-repeat 0px 8px;
	padding-left: 50px;
}

#bookingConfirmation .bookingConfirmation .container .next .pnlPrefsContainer {
	float: left;
	width: 440px;
	background: url('/img/icon-basket-persona.png')  no-repeat 0px 8px;
	padding-left: 50px;
}

#bookingConfirmation .bookingConfirmation .container .next .arrow
{
	display: none;
	/*
	float: left;
	width: 13px;
	height: 19px;
	*/
}

/* Button syle but for Hyperlink */
#bookingConfirmation .bookingConfirmation .container .feedback a span
{
	display:inline-block;
    background: url("/img/btn-arrow-right.png") #088975 395px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    padding: 15px 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 390px;	
    margin: 10px 0px 2px 0px;
}

#bookingConfirmation .bookingConfirmation .container .feedback a span:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #08a68d 395px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 395px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-arrow-right.png") 395px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}

/* End Body Content */

/* Content Blocks */
.contentBlock 
{
	/*margin: 35px 0px 0px 0px;*/
	margin: 35px -120px;
	float:left;
	width: 1200px;
	clear:both;
}

.contentBlock.bg 
{
	min-height: 600px;
}

.contentBlock .contentContainer
{
	/*float:left;*/
	width: 960px;
	/*margin-left: 130px;*/
	margin: 0 120px;
	padding: 0px;
}

#contentBlockContainer
{
	margin: 0 0px;
    /*width: 1200px;*/
    width: 960px;
}

/* override for Search Details */
.layoutContainer.tabbed #contentBlockContainer
{
	/*margin: -130px;*/
}

#contentBlockContainer .contentBlock {
	Background-repeat: no-repeat;
}

#contentBlockContainer .contentBlock.myDetailsContentBlock,
#contentBlockContainer .contentBlock.passwordContentBlock,
#contentBlockContainer .contentBlock.changePasswordContentBlock
{
	margin-top: 0px;
}

#contentBlockContainer .contentBlock .Left {
    float: left;
    width: 460px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-top: 38px;
    color: #38302e;
    font-family: Arial, sans-serif;
    font-size: 1.45em;
    line-height: 30px;
}

#contentBlockContainer .contentBlock .Right 
{
    float: right;
    width: 460px;
    padding-top: 38px;
    margin: 0px 20px 20px 0px;
    color: #38302e;
    font-family: Arial, sans-serif;
    font-size: 1.45em;
    line-height: 30px;
}

/* Location Cabin layout is slightly different */
#contentBlockContainer .contentBlock .contentContainer.location .Right 
{
    margin: 0px 20px 0px 0px;
}

#contentBlockContainer .contentBlock .full {
    float: left;
    width: 940px;
    padding-top: 38px;
    color: #38302e;
    font-family: Arial, sans-serif;
    font-size: 1.45em;
    line-height: 30px;
}

#contentBlockContainer .contentBlock .bodyText {
	margin-bottom: 20px;
}

#contentBlockContainer .contentBlock .spotlight 
{
	width: 940px;
}

#contentBlockContainer .contentBlock .spotlight h2 
{
	font-family: 'Avenir LT W01 65 Medium';
	color: #38302e;
	font-size: 2.5em;
	letter-spacing:0.1em;
	text-transform:uppercase;
	text-align: center;
}

#contentBlockContainer .contentBlock .spotlight h3 
{
	font-family: 'Avenir LT W01 55 Roman';
	color: #38302e;
	font-size: 1.9em;
	text-align: center;
	line-height: 40px;
	margin-bottom: 20px;
}

#contentBlockContainer .contentBlock hr 
{
	width: 940px;
	border: 0;
	height: 1px;
}

/* Content Block Buttons */
#contentBlockContainer .contentBlock .buttons {
	margin-top: 20px;	
}

#contentBlockContainer .contentBlock .buttons .Special
{
	width: 460px;
	background-image: url('/img/button-special.png');
}

#contentBlockContainer .contentBlock .buttons .Special:hover 
{
	background-image: url('/img/button-special-r.png');
}

#contentBlockContainer .contentBlock .buttons .Primary
{
	width: 460px;
	background-image: url('/img/button-primary.png');
}

#contentBlockContainer .contentBlock .buttons .Primary:hover
{
	background-image: url('/img/button-primary-r.png');
}

#contentBlockContainer .contentBlock .buttons .Secondary
{
	width: 239px;
	background-image: url('/img/button-secondary.png');
}

#contentBlockContainer .contentBlock .buttons .Secondary:hover
{
	background-image: url('/img/button-secondary-r.png');
}

#contentBlockContainer .contentBlock .buttons div
{
	float:left;
	margin-bottom: 20px;
	height: 47px;
}

#contentBlockContainer .contentBlock .buttons div img 
{
	float: right;
	margin: 14px 14px 0 0;
}

#contentBlockContainer .contentBlock .buttons div.label 
{
	margin: 8px 5px 5px 10px;
	font-size: 0.9em;
	font-weight: bold;
	color: white;
	text-decoration: none;
	height: 34px;
}
/* End Content Block Buttons */

/* In the Media */
#contentBlockContainer .contentBlock .inTheMedia 
{
	float: left;	
	margin: 0px 0px 20px 0px;	
	padding: 10px 0px 0px 0px;
	background: url('/img/rule-460-wide.png') no-repeat;	
	width: 460px;
	min-height: 120px;
	font-size: .92em;
	line-height: 1.5em;
}

#contentBlockContainer .contentBlock .contentContainer.location .inTheMedia 
{
	background: none;	
}

#contentBlockContainer .contentBlock .inTheMedia .image 
{
	float:left;
	width: 150px;
	margin: 0px 0px 20px 0px;	
}

#contentBlockContainer .contentBlock .inTheMedia .title,
#contentBlockContainer .contentBlock .inTheMedia .quote,
#contentBlockContainer .contentBlock .inTheMedia .author,
#contentBlockContainer .contentBlock .inTheMedia .link
{
	float: left;
	width: 300px;
	padding: 0px 0px 0px 10px;
}

#contentBlockContainer .contentBlock .inTheMedia .title 
{
	height: 20px;
	background: url('/img/explore-icon.png') no-repeat;
	background-position: 276px 3px;
	font-weight: bold;
	padding-bottom: 5px;
}

#contentBlockContainer .contentBlock .inTheMedia .quote 
{
	width: 250px;
	padding: 0px 50px 0px 10px;
}

#contentBlockContainer .contentBlock .inTheMedia .author 
{
	color: #999999;
}

/* End In the Media */

/* Additional Information */
#contentBlockContainer .contentBlock .additionalInformation 
{
	float: left;	
	margin: 0px 0px 20px 0px;	
	padding: 10px 0px 0px 0px;
	background: url('/img/rule-460-wide.png') no-repeat;	
	width: 460px;
	min-height: 120px;
	font-size: .92em;
	line-height: 1.5em;
}

#contentBlockContainer .contentBlock .contentContainer.location .additionalInformation 
{
	background: none;	
}

#contentBlockContainer .contentBlock .additionalInformation .image 
{
	float:left;
	width: 70px;
}

#contentBlockContainer .contentBlock .additionalInformation .text
{
	float:left;
	width: 380px;
	padding: 15px 0px 0px 10px;
}

/* End Additional Information */

/* Content Block Testimonials */
#contentBlockContainer .contentBlock .testimonials 
{
	float: left;	
	margin: 0px 0px 20px 0px;	
	background: url('/img/rule-460-wide.png') no-repeat;	
	width: 460px;
	min-height: 120px;
}

/* Location Cabin layout is slightly different */
#contentBlockContainer .contentBlock .contentContainer.location .testimonials 
{
	float: left;	
	margin: 0px 0px 20px 0px;	
	background: none;	
	width: 460px;
	min-height: 90px;
}

#contentBlockContainer .contentBlock .testimonials .wrap-carousel-text 
{
	margin-top: 30px;	
}

/* Location Cabin layout is slightly different */
#contentBlockContainer .contentBlock .contentContainer.location .testimonials .wrap-carousel-text 
{
	margin: 0px;	
}

#contentBlockContainer .contentBlock .testimonials .wrap-carousel-text .carousel-next,
#contentBlockContainer .contentBlock .testimonials .wrap-carousel-text .carousel-prev {
    top: 15px;
}

#contentBlockContainer .contentBlock .testimonials li div.testimonial-text
{
	font-size: .65em;
	line-height: 1.2em;
}

/* End Content Block Testimonials */

/* Content Block Offers */
#contentBlockContainer .contentBlock .offers
{
	margin-bottom: 20px;	
	padding-top: 38px;
	float: left;
	width: 100%;

}

#contentBlockContainer .contentBlock .offers .offer
{
	float: left;
	width: 460px;
	height: 329px;
	margin: 0px 20px 20px 0px;
}

#contentBlockContainer .contentBlock .offers .offerImage
{
	float: left;
	width: 460px;
	height: 176px;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg
{
	float: left;
	width: 414px;
	height: 109px;
	padding: 22px;
	background-image: url('/~/media/Images/Content%20Block%20Images/Offer%20Images/offerBg.png');
}

#contentBlockContainer .contentBlock .offers .offer .offerBg a {
	
	color: #009A7B;
	font-size: 1.5em;
	font-weight: bold;
}


#contentBlockContainer .contentBlock .offers .offer .offerBg img.offerArrow
{
	float: right;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDetails
{
	float: left;
	width: 400px;
	margin-bottom: 10px;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates
{
	position: relative;
	float: left;
	width: 80px;
	height: 70px;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .startDateCalendar 
{
	float: left;
	width: 33px;
	height: 45px;
	background-image: url('/img/calendar-date.png');
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .dash
{
	float: left;
	margin: 12px 3px 0px 3px;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .endDateCalendar 
{
	float: left;
	width: 33px;
	height: 45px;
	background-image: url('/img/calendar-date.png');
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .startMonth
{
	position: absolute;
	top: 1px;
	left: 1px;
	width: 30px;
	height: 15px;
	font-size: 0.8em;
	line-height:normal;
	color: White;
	font-weight: bold;
	text-align: center;
	text-align: center;
	text-transform: uppercase;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .endMonth
{
	position: absolute;
	top: 1px;
	left: 45px;
	width: 30px;
	height: 15px;
	font-size: 0.8em;
	line-height:normal;
	color: White;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .startDate
{
	position: absolute;
	top: 19px;
	left: 6px;
	width: 20px;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDates .endDate
{
	position: absolute;
	top: 19px;
	left: 48px;
	width: 20px;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDescription
{
	float: left;
	margin-left: 5px;
	width: 270px;
	color: #38302e;
	font-size: 1.1em;
}

#contentBlockContainer .contentBlock .offers .offer .offerBg .offerDescription.wide
{
	float: left;
	margin: 0px;
	width: 340px;
}

/* End Content Block Offers */

/* Content Block Events */

#contentBlockContainer .contentBlock .events
{
	margin: 0px 0px 10px 0px;
	background: url('/img/rule-460-wide.png') no-repeat;
	float: left;
	width: 460px;
}

#contentBlockContainer .contentBlock .events .eventsHeading 
{
	float: left;
	margin-top: 10px;	
}

#contentBlockContainer .contentBlock .events .event
{
	margin: 10px 0px 10px 0px;	
	float: left;
	width: 100%;
}

#contentBlockContainer .contentBlock .events .event a {
	
	color: #009A7B;
	font-size: 1em;
	font-weight: bold;	
}

#contentBlockContainer .contentBlock .events .event .eventDates
{
	position: relative;
	float: left;
	width: 80px;
	height: 70px;
}

#contentBlockContainer .contentBlock .events .event .eventDates .startDateCalendar 
{
	float: left;
	width: 33px;
	height: 45px;
	background-image: url('/img/calendar-date.png');
}

#contentBlockContainer .contentBlock .events .event .eventDates .dash
{
	float: left;
	margin: 6px 3px 0px 3px;
}

#contentBlockContainer .contentBlock .events .event .eventDates .endDateCalendar 
{
	float: left;
	width: 33px;
	height: 45px;
	background-image: url('/img/calendar-date.png');
}

#contentBlockContainer .contentBlock .events .event .eventDates .startMonth
{
	position: absolute;
	top: 2px;
	left: 1px;
	width: 30px;
	height: 15px;
	font-size: 0.5em;
	line-height:normal;
	color: White;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#contentBlockContainer .contentBlock .events .event .eventDates .endMonth
{
	position: absolute;
	top: 2px;
	left: 45px;
	width: 30px;
	height: 15px;
	font-size: 0.5em;
	line-height:normal;
	color: White;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

#contentBlockContainer .contentBlock .events .event .eventDates .startDate
{
	position: absolute;
	top: 13px;
	left: 6px;
	width: 20px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

#contentBlockContainer .contentBlock .events .event .eventDates .endDate
{
	position: absolute;
	top: 13px;
	left: 48px;
	width: 20px;
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

#contentBlockContainer .contentBlock .events .event .eventTitle
{
	float:left;
	width: 375px;
	margin-left: 5px;
	line-height: normal;
}

#contentBlockContainer .contentBlock .events .event .eventDescription
{
	float:left;
	width: 375px;
	margin-left: 5px;
	font-size: 0.9em;
}

/* End Content Block Events */

/* Cabin Details Content Blocks */

#cabin-details .contentContainer .w640
{
	width: 640px;
}

#cabin-details .contentContainer .w300
{
	width: 300px;
}

#cabin-details .contentContainer .w460
{
	width: 460px;
}

#cabin-details .contentContainer .lhs 
{
	float:left;	
	margin: 40px 0px 0px 0px;
	line-height: 30px;
}

#cabin-details .contentContainer .rhs 
{
	float:right;	
	margin: 40px 0px 0px 0px;
	font-size: 1.15em;
	line-height: 25px;
}

#cabin-details .contentContainer .lhs .bodyText
{
	/*font-size: 1.5em;	*/
}

#cabin-details .contentContainer .lhs #features 
{
	float:left;
	width: 640px;
	height: 110px;
	text-align: center;
	overflow: hidden;
	margin: 30px 0px 0px 0px;
}

#cabin-details .contentContainer .lhs #features .container
{
	display: inline-block;
	margin: 0 auto;
}

#cabin-details .contentContainer .lhs #features .container .feature 
{
	float:left;
	width: 99px;
	display: inline-block;
	text-align: center;
	line-height: 1.15em;
	margin: 0px 10px 0px 10px;
}

#cabin-details .contentContainer .lhs #features .feature p
{
	margin-top: 52px;
}

#cabin-details .contentContainer .lhs .video.thumbnails
{
	float:left;
	padding-top: 0px;	
	margin-left: 85px;
	height: inherit;
}

#cabin-details .contentContainer .lhs .video.thumbnails .caption p
{
	color: white;
}

#cabin-details .contentContainer .lhs #cabinDetails 
{
	float:left;
	width: 640px;
	clear: both;
	font-size: 1.15em;
	margin-top: 30px;
}


#cabin-details .contentContainer .lhs #cabinDetails hr
{
	width: 640px;
	border: 0px;
	height: 1px;
	color: #a4863d; background-color: #a4863d;
}

#cabin-details .contentContainer .rhs h3
{
	font-size: 1.25em;
	margin-bottom: 20px;
	line-height: 30px;
}

#cabin-details .contentContainer .rhs .images 
{
	margin-top: 30px;	
}

#cabin-details .contentContainer .rhs .images div
{
	float:left;
	width: 140px;
	height: 105px;
	margin-bottom: 20px;
}

#cabin-details .contentContainer .rhs .images div.left 
{
	margin-right: 20px;	
}

.contentContainer .cabinOverview
{
	text-align: center;
	font-size: 1.5em;	
	line-height: 30px;
}

/* Location Page Cabin Details */
.contentContainer.location .cabinOverview
{
	float:left;
	width:940px;
	background-repeat: no-repeat;
	text-align: center;
	font-size: 1.5em;	
	line-height: 30px;
	margin-top: -30px;
	margin-bottom: 20px;
}

.contentContainer.location .cabinOverview .bodyText
{
	width: 620px;
	margin: 0 auto;
	margin-top: 110px;
	line-height: 30px;
}

#contentBlockContainer .contentContainer.location hr
{
	display: block;
	float:left;
	width: 940px;
	border: 0px;
	margin: 0px;
	height: 1px;
	/*color: #a4863d; background-color: #a4863d;*/
}

.contentContainer.location #features 
{
	float:left;
	width: 940px;
	height: 110px;
	text-align: center;
	overflow: hidden;
	margin: 30px 0px 0px 0px;
}

.contentContainer.location #features .container
{
	display: inline-block;
	margin: 0 auto;
}

.contentContainer.location #features .container .feature 
{
	float:left;
	width: 99px;
	display: inline-block;
	text-align: center;
	line-height: 1.15em;
	margin: 0px 30px 0px 30px;
}

.contentContainer.location #features .feature p
{
	margin-top: 52px;
}

.contentContainer.location .video.thumbnails
{
	float:left;
	width: 960px;
	padding-top: 0px;	
	margin-bottom: 50px;
	height: inherit;
}

.contentContainer.location #cabinDetails 
{
	float:left;
	clear: both;
	width: 440px;
	font-size: 1.30em;
	margin-top: 30px;
	line-height: 30px;
}

.contentContainer.location #cabinDetails hr
{
	width: 460px;
	border: 0px;
	height: 1px;
	/*color: #a4863d; background-color: #a4863d;*/
}

.contentContainer #cabinDetails ul
{
	margin-left: 20px;
}
/* End Cabin Details Content Blocks */

#contentBlockContainer .offersNewsletter 
{
    float: left;
    width: 940px;
    padding-top: 38px;
    color: #38302e;
    font-family: Arial, sans-serif;
    font-size: 1.45em;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

#contentBlockContainer .offersNewsletterBg 
{
	background-image: url('/img/bg-offers-newsletter.png');
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm
{
	margin-left: 250px;
	float:left;
	text-align: left;
	width: 500px;	
	
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow
{
	float:left;
	width: 500px;
	margin-bottom: 10px;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow.half
{
	float:left;
	width: 220px;
	margin-right: 10px;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .field
{
	float:left;
	width: 325px;
	text-align: right;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow input {
	width: 430px;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	margin-top: 2px;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow.half input {
	width: 200px;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	margin-top: 2px;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .formRow .button
{
	float:left;
	text-align: left;
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .button input
{
	background: url("/img/btn-arrow-right.png") #898989 50px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 15px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 75px;	
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .button input:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a6a6a6 50px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#898989));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 50px center no-repeat, -webkit-linear-gradient(top, #a6a6a6, #898989); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -moz-linear-gradient(top, #a6a6a6, #898989); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -ms-linear-gradient(top, #a6a6a6, #898989); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -o-linear-gradient(top, #a6a6a6, #898989); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, linear-gradient(top, #a6a6a6, #898989);
    
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#898989',GradientType=0 );
}

#contentBlockContainer .offersNewsletter #offersNewsletterForm .error
{
	float:left;
	font-size: .85em;
}

#contentBlockContainer .offersNewsletter .footer
{
	float: left;	
	width: 100%;
}

#contentBlockContainer .friendsReferralForm 
{
    float: left;
    width: 940px;
    padding-top: 38px;
    color: #38302e;
    font-family: Arial, sans-serif;
    font-size: 1.45em;
    line-height: 30px;
    text-align: center;
    font-weight: normal;
}

#contentBlockContainer .friendsReferralFormBg 
{
	background-image: url('/img/bg-referral-form.png');
	height: 630px;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm
{
	margin-left: 360px;
	float:left;
	text-align: left;
	width: 500px;	
	
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow
{
	float:left;
	width: 500px;
	margin-bottom: 10px;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow.half
{
	float:left;
	width: 220px;
	margin-right: 10px;
	padding-top: 0px;	/* Override */
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow.clear
{
	clear: both;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .field
{
	float:left;
	width: 325px;
	text-align: right;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow input {
	width: 430px;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	margin-top: 2px;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow.half input {
	width: 200px;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	margin-top: 2px;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .formRow .button
{
	float:left;
	text-align: left;
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .button input
{
	background: url("/img/btn-arrow-right.png") #898989 190px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 15px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 215px;	
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .button input:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a6a6a6 190px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#898989));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 190px center no-repeat, -webkit-linear-gradient(top, #a6a6a6, #898989); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, -moz-linear-gradient(top, #a6a6a6, #898989); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, -ms-linear-gradient(top, #a6a6a6, #898989); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, -o-linear-gradient(top, #a6a6a6, #898989); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, linear-gradient(top, #a6a6a6, #898989);
    
    background: url("/img/btn-arrow-right.png") 190px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#898989',GradientType=0 );
}

#contentBlockContainer .friendsReferralForm #friendsReferralFormForm .error
{
	float:left;
	font-size: .85em;
}


/* End Content Blocks */

.clearer {
	clear:both;
}

.strong {
	font-weight: bold;
}

.contentBlock .lightboxThumbnails
{
	line-height: 20px !important;
}

.contentBlock .lightboxThumbnails img
{
	margin-bottom: 20px;
	line-height: 20px;	
}

.contentBlock .lightboxThumbnails img.leftThumbnail
{
	margin-right: 20px;
}

/* Things to Do */

.contentBlock .thingsToDo 
{
	margin: 30px 0px 0px 0px;
}

.contentBlock .thingsToDo .item 
{
	background-color: #FFFFFF;
    box-shadow: 0 2px 4px #BBBBBB;
    float: left;
	height: 221px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 3px;
    position: relative;
}

.contentBlock .thingsToDo .item .caption
{
    background-color: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
    bottom: 3px;
    height: 23px;
    position: absolute;
    width: 284px;
    padding: 7px 0px 0px 10px; 
    font-size: 1.15em;
	
	background-position: 270px 6px;
	
}

.contentBlock .thingsToDo .item .caption .explore
{
	float: right;
	width: 13px;
	height: 18px;
	margin: 0px 10px 0px 0px;
	background-image: url('/img/explore-icon.png');
	background-repeat: no-repeat;
}

.contentBlock .thingsToDo .item a
{
	color: White;	
}

.contentBlock .thingsToDo .item.last
{
    margin-right: 0;
}

/* End Things to Do */

/* My Preferences */

.contentBlock .contentContainer.preferences {
	float:left;
	margin-bottom: 30px;	
}

.contentBlock .preferences .bodyText
{
	width: 620px;
	margin: 0 auto;
	line-height: 30px;
	text-align: center;
	font-size: 1.5em;
}
.contentBlock .monthPreferences 
{
	margin: 30px 0px 0px 0px;
}

.contentBlock .monthPreferences .monthRatingItem 
{
	float:left;
	width: 60px;
	margin-right: 20px;
    margin-bottom: 20px;
}

.contentBlock .monthPreferences .item 
{
    float: left;
    width: 60px;
	height: 80px;
    position: relative;
    text-align: center;
	font-size: 1.1em;
	font-weight: bold;
}

.contentBlock .monthPreferences .item img 
{
	margin-bottom: 3px;	
}


.contentBlock .myPreferences 
{
	margin: 30px 0px 0px 0px;
}

.contentBlock .myPreferences .captionItem 
{
	float:left;
	width: 300px;
	margin-right: 20px;
    margin-bottom: 20px;
}

.contentBlock .myPreferences .item 
{
    float: left;
    width: 300px;
	height: 227px;
    position: relative;
    margin-bottom: 25px;
}

.contentBlock .myPreferences .item .caption
{
    background-color: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
    bottom: 0px;
    height: 23px;
    position: absolute;
    width: 290px;
    padding: 7px 0px 0px 10px; 
    font-size: 1.15em;	
    color: White;	
}

.contentBlock .myPreferences .ratingContainer 
{
	float: left;
	width: 300px;	
	height: 30px;
	margin-top: 10px;
}

.contentBlock .myPreferences .ratingContainer .rating 
{
	float: left;
	width: 90px;
	padding: 3px;
	background-color: White;
}

.contentBlock .myPreferences .ratingContainer .rate
{
	float: left;
	width: 40px;
	padding-top: 4px;
}

.contentBlock .myPreferences .ratingContainer .notRated 
{
	float: left;
	width: 100px;	
	height: 30px;
}

.contentBlock .myPreferences .ratingContainer .tick
{
	float: left;
}

/* Image Thumbnails*/
.thumbnails
{
    margin-top: 0px;
}

.thumbnails .item
{
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px #BBBBBB;
    float: left;
    height: 219px;
    margin-right: 8px;
    margin-bottom: 15px;
    padding: 3px;
    position: relative;
    width: 294px;
}

.imageGallery.thumbnails .item
{
    margin-right: 20px;
    margin-bottom: 20px;
}

.imageGallery.thumbnails .item .caption p
{
    line-height: 30px;
}

.thumbnails .item.noBorder {
    background: none repeat scroll 0 0 transparent;
    box-shadow: 0 0;
}

.thumbnails .item {
    width: 214px;
    height: 159px;
}

.thumbnails .item.end
{
    margin-right: 0;
}

.thumbnails .item a
{
    display: block;
}

.thumbnails .item .caption
{
    background-color: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
    bottom: 2px;
    height: 30px;
    position: absolute;
    width: 294px;
}

.thumbnails .item .caption {
    width: 214px;
}

.thumbnails .item .caption p
{
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 6px 0px 0px 7px;
}

.thumbnails .item .caption p a
{
    text-decoration: none;
    color: #fff;
}

.thumbnails .item .corner 
{
    background: url("/img/gallery/gallery-corner-small.png") no-repeat scroll 0 0 transparent;
    height: 54px;
    width: 46px;
    left: 3px;
    position: absolute;
    top: 3px;
}

.thumbnails .item .corner a
{
    display: block;
    height: 100%;
} 

.thumbnails .item .corner a img
{
    padding: 7px;
}



/* Video Thumbnails */

.video.thumbnails 
{
	float:left;
	padding-top: 38px;
	height: 255px;
}

.video.thumbnails .item {
	margin-right: 20px; 
}
   
.video.thumbnails .item .captionText 
{
	float:left; 
	margin-top: 10px;
	width: 100%;	
	font-weight: bold;
    font-size: 1.15em;
}

.video.thumbnails .item .submittedBy, .video.thumbnails .item .duration
{
	float: left;
	color: #808080;
	font-family: Arial, sans-serif;
	font-size: 1.15em;
}

.video.thumbnails .item .play 
{
    background: url("/img/video-play-icon.png") no-repeat scroll 0 0 transparent;
    height: 62px;
    width: 63px;
    left: 80px;
    position: absolute;
    top: 50px;
}

.thumbnails .item .play a
{
    display: block;
    height: 100%;
} 

/* Location Content Block Video Thumbnail (single) */
.bodyText .video.thumbnails 
{
	float: left;
	width: 460px;
	height: inherit;
	padding-top: 38px;
	margin: 0px 0px 20px 0px;
}

.bodyText .video.thumbnails .item 
{
	float: none;
	margin: 0 auto;
	width: 214px;
}
   
.bodyText .video.thumbnails .item .captionText 
{
	float:left; 
	margin-top: 10px;
	width: 100%;	
	font-weight: bold;
    font-size: 1.15em;
}

.bodyText .video.thumbnails .item .submittedBy, .video.thumbnails .item .duration
{
	float: left;
	color: #808080;
	font-family: Arial, sans-serif;
	font-size: 1.15em;
}

.bodyText .video.thumbnails .item .play 
{
    background: url("/img/video-play-icon.png") no-repeat scroll 0 0 transparent;
    height: 62px;
    width: 63px;
    left: 80px;
    position: absolute;
    top: 50px;
}

.bodyText .thumbnails .item .play a
{
    display: block;
    height: 100%;
} 

/* End of Video Thumbnails*/

/* End of Thumbnails*/

/* Login Box */

#loginContainer 
{
	float:left;
	width: 304px;
}


#loginContainer  #loginFrameTop
{
	float:left;
	width: 100%;
	height:13px;
	background-image: url('/img/login_pnl_top.png');
}

#loginContainer  #loginFrameMain 
{
	float:left;
	width: 100%;
	background-image: url('/img/login_pnl_slice.png');
}

#loginContainer  #loginForm 
{
	float:left;
	width: 280px;
	margin: 0px 9px 0px 11px;
}

#loginContainer  #loginForm a
{
	color: #08a68d;
}

#loginContainer  #loginForm .formHeader
{
	float:left;
	width: 245px;
	height: 35px;
	background-image: url('/img/login-user-icon.png');
	background-repeat: no-repeat;
	padding-left: 35px;
	font-size: 18px;
	line-height: 30px;
}

#loginContainer  #loginForm .formLabel
{
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

#loginContainer  #loginForm .formField input
{
	width: 266px;
	height: 38px;
	line-height: 38px;
    margin-bottom: 0.75em;
	padding: 0 5px;
	margin-top: 2px;
	font-size: 18px;				/*120213*/
}

#loginContainer  #loginForm .formSubmit input 
{
    background: url("/img/btn-arrow-right.png") #088975 255px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 280px;	
    margin-top: 10px;
}

#loginContainer  #loginForm .formSubmit input:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #08a68d 255px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 255px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}

#loginContainer  #loginForm .forgotPwd
{
	margin-top: 10px;	
}

#loginContainer  #loginFrameBottom
{
	float:left;
	width: 100%;
	height:13px;
	background-image: url('/img/login_pnl_bottom.png');
}
/* End Login Box */

/* Register Form */
#registerContainer {
	float:left;
	width: 560px;
	margin: 0px 0px 0px 20px;

}

#registerContainer #registerForm {
	margin: 12px 0px 0px 0px;
}

#registerContainer #registerForm .formHeader
{
	float:left;
	width: 100%;
	height: 35px;
	font-size: 18px;
	line-height: 30px;
}

#registerContainer #registerForm .formRow
{
	float:left;
	width: 560px;
	margin-bottom: 10px;
}

#registerContainer #registerForm .formRow.half
{
	width: 280px;
	padding-top: inherit;
}

#registerContainer #registerForm .formRow.clear
{
	clear: both;
}

#registerContainer #registerForm .formLabel
{
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

#registerContainer #registerForm .formField input, 
#registerContainer #registerForm .formField select
{
	width: 220px;
	height: 38px;
	line-height: 38px;
    /*margin-bottom: 0.75em;*/
	padding: 0 5px;
	margin-top: 2px;
	font-size: 18px;			/*120213*/
}

#registerContainer #registerForm .formField input.pcaFind 
{
	background: url("/img/btn-arrow-right.png") #898989 75px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    margin-left: 10px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 100px;	
}

#registerContainer #registerForm .formField input.pcaFind:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a6a6a6 75px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#898989));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 75px center no-repeat, -webkit-linear-gradient(top, #a6a6a6, #898989); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, -moz-linear-gradient(top, #a6a6a6, #898989); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, -ms-linear-gradient(top, #a6a6a6, #898989); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, -o-linear-gradient(top, #a6a6a6, #898989); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, linear-gradient(top, #a6a6a6, #898989);
    
    background: url("/img/btn-arrow-right.png") 75px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#898989',GradientType=0 );
}

#registerContainer #registerForm .formSubmit
{
	float:left;	
	width: 100%;
}

#registerContainer #registerForm .formSubmit input
{
    background: url("/img/btn-arrow-right.png") #088975 255px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 280px;	
    margin-top: 10px;
}

#registerContainer #registerForm .formSubmit input:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #08a68d 255px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 255px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}
/* END Register Form */

/* Contact Us / Brochure Forms */

.contactUs, 
.brochureRequest,
.myDetails,
.changePassword,
.myFeedback
{
	float:left;
	width: 940px;
	font-size: 1.15em;
}

.contactUs strong, 
.brochureRequest strong,
.myDetails .strong,
.changePassword .strong,
.myFeedback .strong
{
	font-weight: bold;	
}

#contactUsForm,
#brochureRequestForm,
#myDetailsForm,
#changePasswordForm,
#myFeedbackForm
{
	float:left;
	width: 680px;
	margin-right: 20px;
}

#myDetailsForm p,
#changePasswordForm p,
#myFeedbackForm p
{
	margin-bottom: 10px;
}

#contactUsForm .requiredLabel, 
#brochureRequestForm .requiredLabel,
#myDetailsForm .requiredLabel,
#changePasswordForm .requiredLabel
{
	background-image: url('/img/icon-leaf.png');
	background-repeat: no-repeat;
	padding: 8px 0px 0px 25px;
	height: 22px;
}

#contactUsForm .validationSummary, 
#brochureRequestForm .validationSummary,
#myDetailsForm .validationSummary,
#changePasswordForm .validationSummary
{
	float:left;
	width: 600px;
	margin: 20px 0px 20px 0px;
	padding: 0px 0px 0px 55px;
	background-image: url('/img/icon-form-exclaimation.png');
	background-repeat: no-repeat;
	min-height: 40px;
	color: red;	
}

#contactUsForm .validationSummary p, 
#brochureRequestForm .validationSummary p,
#myDetailsForm .validationSummary p,
#changePasswordForm .validationSummary p
{
	font-weight: bold;
}

#contactUsForm .validationSummary ul, 
#brochureRequestForm .validationSummary ul,
#myDetailsForm .validationSummary ul,
#changePasswordForm .validationSummary ul
{
	font-size: 0.85em;
	list-style-position: inside;
}

#contactUsForm .validationSummary ul li, 
#brochureRequestForm .validationSummary ul li,
#myDetailsForm .validationSummary ul li,
#changePasswordForm .validationSummary ul li
{
	list-style-type: disc;
	list-style-position: inside;
}

#contactUsForm .formHeader, 
#brochureRequestForm .formHeader,
#myDetailsForm .formHeader,
#changePasswordForm .formHeader
{
	float:left;
	width: 680px;
	height: 35px;
	font-size: 18px;
	line-height: 30px;
}

#contactUsForm .formRow, 
#brochureRequestForm .formRow,
#myDetailsForm .formRow,
#changePasswordForm .formRow,
#myFeedbackForm .formRow
{
	float:left;
	width: 680px;
	margin-bottom: 5px;
}

#contactUsForm .formRow.invalid, 
#brochureRequestForm .formRow.invalid,
#myDetailsForm .formRow.invalid,
#changePasswordForm .formRow.invalid
{
	background-color: White;
	background-image: url('/img/icon-form-exclaimation-sm.png');
	background-repeat: no-repeat;
	background-position: 5px 5px;
}

#contactUsForm .formRow .formLabel, 
#brochureRequestForm .formRow .formLabel,
#myDetailsForm .formRow .formLabel,
#changePasswordForm .formRow .formLabel,
#myFeedbackForm .formRow .formLabel
{
	float:left;
	width: 215px;
	margin-top: 12px;
	padding-top: 12px;
	text-align: right;
	padding-right: 25px;
	font-weight: bold;
}

#contactUsForm .formRow .formLabel.required, 
#brochureRequestForm .formRow .formLabel.required,
#myDetailsForm .formRow .formLabel.required,
#changePasswordForm .formRow .formLabel.required,
#myFeedbackForm .formRow .formLabel.required
{
	background-image: url('/img/icon-leaf.png');
	background-repeat: no-repeat;
	background-position: right;
	min-height: 22px;
}

#contactUsForm .formRow .formField, 
#brochureRequestForm .formRow .formField,
#myDetailsForm .formRow .formField,
#changePasswordForm .formRow .formField,
#myFeedbackForm .formRow .formField
{
	float:left;
	width: 435px;
}

#contactUsForm .formRow .formField input, 
#brochureRequestForm .formRow input,
#myDetailsForm .formRow input,
#changePasswordForm .formRow input,
#myFeedbackForm .formRow input
{
	width: 207px;
	height: 38px;
	line-height: 38px;
    margin: 10px 0px 2px 0px;
	padding: 0 5px;
	font-size: 18px;				/*120213*/
}

#contactUsForm .formRow .formField input.emailAddress, 
#brochureRequestForm .formRow .formField input.emailAddress,
#myDetailsForm .formRow .formField input.emailAddress,
#changePasswordForm .formRow .formField input.emailAddress,
#myFeedbackForm .formRow .formField input.emailAddress
{
	width: 366px;
}

#contactUsForm .formRow span.radio input, 
#brochureRequestForm .formRow span.radio input,
#myDetailsForm .formRow span.radio input,
#changePasswordForm .formRow span.radio input,
#myFeedbackForm .formRow span.radio input
{
	float:left;
	width: 20px;
	line-height: 38px;
	margin-top: 10px;
}

#contactUsForm .formRow span.radio label, 
#brochureRequestForm .formRow span.radio label,
#myDetailsForm .formRow span.radio label,
#changePasswordForm .formRow span.radio label,
#myFeedbackForm .formRow span.radio label
{
	float:left;
	width: 100px;
	margin-top: 20px;
}

/* 21/08/2013 JM: Updated radio styles */
.contactUs #contactUsForm span.radio 
{
	float:left;
	width: 100%;
	margin: 15px 0px 0px 0px;
}

#contactUsForm .formRow span.radio input {
	float: none;
	height: inherit;
}

#contactUsForm .formRow span.radio label {
	float: none;
}

#contactUsForm .formRow .tip {
	width: 380px;
	padding: 10px 0px 10px 0px;
}

#contactUsForm .formRow .formField select,
#brochureRequestForm .formRow .formField select,
#myDetailsForm .formRow .formField select,
#changePasswordForm .formRow .formField select,
#myFeedbackForm .formRow .formField select
{
	width: 220px;
	height: 38px;
	line-height: 38px;
    /*margin-bottom: 0.75em;*/
	padding: 0 5px;
	margin-top: 10px;
	font-size: 18px;			/*120213*/
}

#contactUsForm .formRow .formField .error, 
#brochureRequestForm .formRow .formField .error,
#myDetailsForm .formRow .formField .error,
#changePasswordForm .formRow .formField .error,
#myFeedbackForm .formRow .formField .error
{
	color: Red;
	font-size: 0.9em;
	font-style: italic;
	margin-bottom: 5px;
}

#contactUsForm .formRow .formField textarea, 
#brochureRequestForm .formRow .formField textarea,
#myDetailsForm .formRow .formField textarea,
#changePasswordForm .formRow .formField textarea
{
	width: 380px;
	font-size: 18px;				/*120213*/
	margin: 10px 0px 2px 0px;
}

#contactUsForm .formRow span.checkbox input, 
#brochureRequestForm .formRow span.checkbox input,
#myDetailsForm .formRow span.checkbox input,
#changePasswordForm .formRow span.checkbox input,
#myFeedbackForm .formRow span.checkbox input
{
	float:left;
	width: 20px;
	line-height: 38px;
	margin-top: 10px;
}

#contactUsForm .formRow span.checkbox label, 
#brochureRequestForm .formRow span.checkbox label,
#myDetailsForm .formRow span.checkbox label,
#changePasswordForm .formRow span.checkbox label,
#myFeedbackForm .formRow span.checkbox label
{
	margin-top: 20px;
	display: block;
	float: right;
	width: 350px;
	margin-right: 50px;
}

#contactUsForm .formRow .formField input.submit, 
#brochureRequestForm .formRow .formField input.submit,
#myDetailsForm .formRow .formField input.submit,
#changePasswordForm .formRow .formField input.submit,
#myFeedbackForm .formRow .formField input.submit
{
	float:left;
    background: url("/img/btn-arrow-right.png") #898989 110px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 138px;	
    margin-top: 10px;
}

#contactUsForm .formRow .formField input.submit:hover, 
#brochureRequestForm .formRow .formField input.submit:hover,
#myDetailsForm .formRow .formField input.submit:hover,
#changePasswordForm .formField input.submit:hover,
#myFeedbackForm .formField input.submit:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a6a6a6 110px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#898989));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 110px center no-repeat, -webkit-linear-gradient(top, #a6a6a6, #898989); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, -moz-linear-gradient(top, #a6a6a6, #898989); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, -ms-linear-gradient(top, #a6a6a6, #898989); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, -o-linear-gradient(top, #a6a6a6, #898989); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, linear-gradient(top, #a6a6a6, #898989);
    
    background: url("/img/btn-arrow-right.png") 110px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#898989',GradientType=0 );
}

#contactUsForm .formRow .formField p.formNotice, 
#brochureRequestForm .formRow .formField p.formNotice,
#myDetailsForm .formRow .formField p.formNotice,
#changePasswordForm .formRow .formField p.formNotice,
#myFeedbackForm .formRow .formField p.formNotice
{
	font-size: 0.9em;
	color: #999999;
	
}

#contactUsContent, 
#brochureRequestContent,
#myDetailsContent,
#changePasswordContent,
#myFeedbackContent
{
	float:right;
	width: 240px;
	font-size: 1.15em;
	margin-top: 50px;
}

#contactUsContent p, 
#brochureRequestContent p,
#myDetailsContent p,
#changePasswordContent p,
#myFeedbackContent p
{
	margin-bottom: .5em;	
}

#myDetailsForm .success,
#changePasswordForm .success
{
	float:right;
	margin: 10px 0px 0px 0px;
	padding: 10px 0px 0px 40px;
	width: 235px;
	min-height: 40px;
	background: url('/~/media/Images/Miscellaneous%20Icons/tick-purple.ashx?w=35') no-repeat;
}

#myDetailsForm .failure,
#changePasswordForm .failure
{
	float:left;
	margin: 20px 0px 0px 200px;
	padding: 5px 0px 0px 40px;
	width: 235px;
	min-height: 40px;
	background: url('/~/media/Images/Miscellaneous%20Icons/error-orange.ashx') no-repeat;
}

#myFeedbackForm .formRow
{
	float:left;
	width: 940px;
	margin-bottom: 5px;
}

#myFeedbackForm .formRow .formLabel
{
	float:left;
	width: 160px;
	margin-top: 12px;
	padding-top: 12px;
	text-align: right;
	padding-right: 25px;
	font-weight: bold;
}

#myFeedbackForm .formRow .formField
{
	float:left;
	width: 580px;
}

#myFeedbackForm .formRow .formField textarea
{
	width: 580px;
	font-size: 18px;				
}

#myFeedbackForm .formRow .formField .checkbox
{
	float:left;		
}


/* Forms */

/* Forgot Password */

#forgottenPassword
{
	margin: -20px auto;
	width: 500px;	
}

#forgottenPassword .formRow
{
	float:left;
	width: 500px;	
	margin-left: 90px;
	font-size: 1.15em;
	margin-top: 10px;
}

#forgottenPassword .field
{
	float:left;
	width: 325px;
	text-align: right;
}

#forgottenPassword .field input {
	width: 220px;
	height: 38px;
	line-height: 38px;
	padding: 0 5px;
	margin-top: 2px;
	font-size:  18px;
}

#forgottenPassword .button
{
	float:left;
	width: 170px;
	text-align: left;
	margin-left: 5px;
}

#forgottenPassword .button input
{
	background: url("/img/btn-arrow-right.png") #898989 50px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 15px;
    margin-left: 10px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 75px;	
}

#forgottenPassword .button input:hover
{
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a6a6a6 50px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a6a6a6), to(#898989));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 50px center no-repeat, -webkit-linear-gradient(top, #a6a6a6, #898989); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -moz-linear-gradient(top, #a6a6a6, #898989); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -ms-linear-gradient(top, #a6a6a6, #898989); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, -o-linear-gradient(top, #a6a6a6, #898989); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, linear-gradient(top, #a6a6a6, #898989);
    
    background: url("/img/btn-arrow-right.png") 50px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6a6a6', endColorstr='#898989',GradientType=0 );
}

#forgottenPassword .error
{
	float:left;
	margin: 10px 0px 0px 100px;

}

#forgottenPassword .footer
{
	float: left;	
	width: 100%;
}

#forgottenPassword p {
	font-weight: normal;
	font-size: 1.5em;
	line-height: 1.5em;
	text-align:center;
}

#forgottenPassword .sent {
	width: 340px;
	margin: 0 auto;
	background-image: url('/~/media/Images/Miscellaneous%20Icons/tick-purple.ashx?w=30&h=30');
	background-repeat: no-repeat;
	background-position: center top;
	padding: 40px 0px 0px 0px;
	clear:both;
}

/* Footer */

footer 
{
	clear: both;
	width: 960px;
	margin: 0 auto;
}

footer .column {
    width: 210px;
    margin: 0px 10px 0px 0px;
    float: left;
}

/* Sticky Footer */
#userTray #footerInner #user 
{
	width: 650px;
}

#userTray #footerInner #basket 
{
	/*height: 34px;*/
	width: 230px;
	background-image: url('/img/basket-icon.png');
	background-position: top right;
	background-repeat: no-repeat;
	padding: 0px;
}

#userTray #footerInner #basket .basketValue
{
	float: right;
	margin: 9px 10px 0px 0px;
	font-weight: bold;
}

#userTray #footerInner #basket .basketIcon {
	float: right;
	width: 38px;
	height: 28px;
}

#userTray #footerInner #basket .basketIcon .basketNumber
{	float: right;
	width: 19px;
	height: 19px;
	font-size: 0.85em;
	font-weight: bold;
	color: White;
	text-decoration: none;
	text-align: center;
	margin-top: 1px;
}

#userTray #footerInner #basket .basketLink
{
	float:right;
	margin: 9px 5px 0px 0px;
}

#userTray #footerInner .infoBox {
    background: url("/img/bg-benefits-infobox.png") top center no-repeat;
    height: 424px;
    overflow: hidden;
    display: none;
    padding: 43px 28px 30px 28px;
    position: absolute;
    left: 335px;
    bottom: -15px;
    width: 502px;
    z-index: 100;
}

#userTray #footerInner .infoBox p {
	margin: 0 0 1em;
}

#userTray #footerInner .infoBox p.heading
 {
    font-size: 1.143em; /* 16px */
    font-weight: bold;
    padding: 0;
}

#userTray #footerInner .infoBox li {
	margin: 0 0 1.5em;
	list-style: none;
	padding-left: 50px;
	background: url('/~/media/Images/Miscellaneous%20Icons/tick-purple.ashx?w=40') no-repeat;
	min-height: 40px;
}

#userTray #footerInner .infoBox a.greenButton
{
	color: White;	
	font-size: inherit;
	font-weight: inherit;
    position: absolute;
    left: 433px;
    top: 396px;
    text-decoration: inherit;
}

/* END Sticky Footer */

/* START Google Map and Location */
#mapAndLocation
{
	font-size: 1.2em;
	display: block;
	width: 940px;
	margin: 35px 0px 0px 0px;
}

#mapAndLocation #googleMap
{
	width: 620px;
	float: left;
}

#mapAndLocation #address
{
	width: 300px;
	float: right;
}
#mapAndLocation #address h3
{
	color: #38302e;
	font-size: 1.1em;
	font-weight:bold;
	text-align: left;
	line-height: 40px;
}

ul#locationTabs {
    margin-bottom: 2em;
    padding-top: 43px;
    position: relative;
}

ul#locationTabs li {
	display: block;
}

ul#locationTabs .lMap p.tab {
	left: 5px;
}

ul#locationTabs .sMap p.tab {
	left: 175px;
}

ul#locationTabs p.tab {
    background: url("/img/bg-search-tab-off.gif") #009a7b center bottom repeat-x;
    border-left: 1px solid #31ac93;
    border-right: 1px solid #31ac93;
    border-top: 1px solid #31ac93;
    display: block;
    float: left;
    font-weight: bold;
    height: 34px;
    position: absolute;
    text-align: center;
    top: 9px;
    width: 157px;
}

ul#locationTabs .active p.tab {
	background: url("/img/bg-search-tab-on.gif") #FFF right bottom no-repeat;
	border-left: 1px solid #eeeced;
	border-right: 1px solid #eeeced;
	border-top: 1px solid #eeeced;
	height: 43px;
	top: 0;
}

ul#locationTabs p.tab a {
	color: #FFF;
	display: block;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	text-shadow: 0 -1px #000;
}

ul#locationTabs .active p.tab a {
	color: #222;
	height: 43px;
	line-height: 43px;
	text-shadow: none;
}

ul#locationTabs .tContent 
{
	background-color: White;
	float:left;
	width: 100%;
}

.tContent .map-viewport {
	float: left;
	margin: 35px 0px 35px 20px;
	position: relative;
	width: 620px;
	min-height: 500px;
	overflow: hidden;
}

.tContent #mapAndLocation #googleMap {
	width: 620px;
	margin: 0px 0px 35px 20px;
	float: left;
}

.tContent #mapAndLocation #address {
	width: 280px;
	float: right;
}

/* Map Key/Notes */
.sMap #specificCabinKey
{
	float:left;
	width: 300px;
	padding: 10px 10px 10px 10px;
	margin: 15px 0px 0px 0px;
}

.sMap #specificCabinKey p 
{
	font-size: 1.15em;
}

.sMap #specificCabinKey h2
{
	font-size: 1.95em;
	font-weight: bold;	
	margin: 5px 0px 10px 0px;
}

.sMap #specificCabinKey #pnlSpecificCabinKey
{
	float:left;
	width: 320px;
	background-repeat: no-repeat;
	margin: 5px 0px 0px 0px;
}

/* END Google Map and Location */

/* Location Map Overrides 
#map .deerpark {
    left: 250px;
    position: absolute;
    top: 475px;
}

#map .deerpark a {
    background: url("/img/map-flag-deer-park.png") no-repeat scroll 0 0 transparent;
    display: block;
    width: 82px;
    height: 54px;
}

#map .deerpark a span {
    position: absolute;
    top: 12px;
    left: 12px;
}

#locationMap .deerparkBox {
    display: none;
    background: url("/img/box-bottom.png") no-repeat scroll center bottom transparent;
    height: 260px;
    left: 295px;
    position: absolute;
    top: 75px;
    width: 220px;
}

 End of Location Map Overrides*/

.formError, .reqError
{
	color: Red;	
	font-weight: bold;
	padding-top: 5px;
}

.reqError
{
	color: Red;	
	margin-bottom: 5px;
	font-style:italic;
	
}


.bgContentLogo 
{
	float:left;
	background-image: url('/img/bg-content-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	width: 900px;
	height: 160px;
}

/* EXTRAS START */

/* Recommended Extras */

.recommendedExtras li {
	list-style-type:none;
}

.recommendedExtras .item {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    float: left;
    width: 220px;
    height: 165px;
    margin: 0px 26px 20px 0px;
}

.recommendedExtras .item.end {
    margin-right: 0;
}

.recommendedExtras .item a.corner {
    display: block;
    height: 129px;
}

.recommendedExtras .item a.corner img {
    padding: 0px; 
}

.recommendedExtras .item a.caption {
    display: block;
}

.recommendedExtras .item div.caption
{
    background-color: rgba(0, 0, 0, 0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000, endColorstr=#7f000000)";
	float:left;
    height: 30px;
    width: 214px;
}

.recommendedExtras .item div.caption p {
    color: #fff;
    font-family: "Arial Bold", Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin: 7px;
}

.scrollTarget {
	float:left;
}

.extraCategory
{
	clear: both;
	width: 960px;
}

.extraCategoryName
{
	border-top: 1px solid #A3A896;
	border-bottom: 1px solid #A3A896;
	background: #A3CF62;
	height: 40px;
	margin-bottom: 20px;
	}

.extraCategoryName h3
{
	font-size: 1.5em;
	font-weight: bold;
	margin: 8px 10px 8px 10px;
}

.extra
{
	float: left;
	border-bottom: 1px solid #C3C1C1;
	clear: both;
	margin-bottom: 10px;
	width: 960px;
}

.extraThumbnail
{
	width: 155px;
	margin: 5px 0px 10px 0px;
	float: left;
}

.extraName
{
	width: 570px;
	float: left;
	font-size:1.2em;
	font-weight: bold;
}

.extraName .extraAdded {
	float:right;
	width: 140px;
	font-weight: normal;
	background: url('/~/media/Images/Miscellaneous%20Icons/tick-purple.ashx?w=25') no-repeat;
	min-height: 25px;
	padding: 5px 0px 0px 30px;
}

.extraDetails
{
	clear: both;
	font-size: 1em;
	font-weight: normal;
	width: 100%;
}

.extraOptionsContainer 
{
	float: right;
	width: 	220px;
	background: url('/img/extra-options-tint.png');
	margin-bottom: 10px;
}

.extraOptionsContainer .extraOptionItems 
{
	margin: 10px 10px 0px 10px;
	float: left;
	width: 200px;
	min-height: 45px;
}

.extraOptionsContainer .extraOptionItems.like
{
	text-align:center;
	margin: 0px 10px 10px 10px;
}

.extraOptionsContainer .extraOptionItems .extraOption
{
	float: left;
	width: 100%;
}

.extraOptionsContainer .extraOptionItems .calendarName
{
		float: left;
		width: 50px;
		margin-top: 5px;
}

.extraOptionsContainer .extraOptionItems .calendar
{
		float: left;
}

.extraOptionsContainer .extraOptionItems .calendarDropdown
{
		float: left;
		width: 95px;
}

.extraOptionsContainer .extraOptionItems  .extraOption .quantityName
{
		float: left;
		width: 95px;
		margin-top: 5px;
}

.extraOptionsContainer .extraOptionItems  .extraOption .quantity
{
		float: left;
}

.extraOptionsContainer .extraOptionItems  .extraOption .quantityDropdown
{
		float: left;
		width: 50px;
}

.extraOptionsContainer .extraOptionItems  .extraOption .price
{
		float: left;
		width: 55px;
		text-align: right;
		margin-top: 5px;
}


.extraOptionsContainer .button 
{
	float:left;
	width: 100%;
}

.extraOptionsContainer .button input 
{
	background: url("/img/btn-basket.png") #088975 162px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 200px;	
    margin: 10px 10px 10px 10px;	
}

.extraOptionsContainer .button input:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-basket.png") #08a68d 162px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-basket.png") 162px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url("/img/btn-basket.png") 162px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-basket.png") 162px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-basket.png") 162px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-basket.png") 162px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-basket.png") 162px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-basket.png") 162px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}

.extraOptionsContainer .button.like input 
{
	background: url("/img/btn-like.png") #088975 40px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    padding: 0 0px 0 75px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 200px;	
    margin: 10px 10px 10px 10px;	
}

.extraOptionsContainer .button.like input:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-like.png") #08a68d 40px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-like.png") 40px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url("/img/btn-like.png") 40px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-like.png") 40px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-like.png") 40px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-like.png") 40px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-like.png") 40px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-like.png") 40px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}

.addExtraOption {
	float:left;
	width: 100%;	
}

.addExtraOption.error {
	text-align: center;
}

/* EXTRAS END*/

/* Secure Payment Form */

#securePayment {
	margin-top: 35px;
}

#securePayment #container
{
	float:left;
	width: 518px;
}

#securePayment #container .paymentAmount 
{
	font-weight: bold;
	font-size: 1.15em;
	margin-bottom: 10px;
}

#securePayment #container .formHeader
{
	float:left;
	width: 100%;
	height: 35px;
	font-size: 18px;
	line-height: 30px;
}

#securePayment #container .formRow 
{
	float:left;
	width: 518px;
	margin-bottom: 10px;
}

#securePayment #container .formRow.half 
{
	width: 280px;
	padding-top: inherit;
}

#securePayment #container .formRow.clear
{
	clear: both;
}

#securePayment #container .formRow.info
{
	font-size: 1.15em;
}

#securePayment #container .formLabel
{
	font-size: 14px;
	font-weight: bold;
	margin-top: 10px;
}

#securePayment #container .formRow .ccChosen
{
	background: url('/~/media/Images/Miscellaneous%20Icons/tick-purple.ashx?h=35') no-repeat;
	height: 35px;
	width: 230px;
	margin: 5px 0px 0px 0px;
	padding: 2px 0px 0px 40px;
	font-size: 1.15em;
	float:right;
	font-weight: bold;
}

#securePayment #container .formRow .ccInvalid
{
	background: url('/~/media/Images/Miscellaneous%20Icons/error-orange.ashx?h=30') no-repeat;
	height: 35px;
	width: 230px;
	margin: 5px 0px 0px 0px;
	padding: 2px 0px 0px 40px;
	font-size: 1.15em;
	float:right;
	font-weight: bold;
}

#securePayment #container .formField input, 
#securePayment #container .formField select
{
	width: 220px;
	height: 38px;
	line-height: 38px;
    /*margin-bottom: 0.75em;*/
	padding: 0 5px;
	margin-top: 2px;
	font-size: 18px;
}

#securePayment #container .formField.date select
{
	width: 60px;
	height: 38px;
	line-height: 38px;
    /*margin-bottom: 0.75em;*/
	padding: 0 5px;
	margin-top: 2px;
}

#securePayment #container .formSubmit {
	float:left;	
	width: 100%;
	margin-bottom: 10px;
}

#securePayment #container .formSubmit input 
{
    background: url("/img/btn-arrow-right.png") #088975 255px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 280px;	
    margin-top: 10px;
}

#securePayment #container .formSubmit input:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #08a68d 255px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#08a68d), to(#088975));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 255px center no-repeat, -webkit-linear-gradient(top, #08a68d, #088975); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -moz-linear-gradient(top, #08a68d, #088975); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -ms-linear-gradient(top, #08a68d, #088975); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -o-linear-gradient(top, #08a68d, #088975); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, linear-gradient(top, #08a68d, #088975);
    
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#08a68d', endColorstr='#088975',GradientType=0 );
}

/* Compare Cabins */
#compareCabins 
{
	float:left;
	width: 100%;
}

#compareCabins .row 
{
	float:left;
	width: 100%;
	border-bottom: 1px solid #C3C1C1;
	font-size: 0.8em;
	line-height: 1.15em;
}

#compareCabins .row.header .arrow
{
	float:left;
	width: 159px;
	height: 70px;
	background-repeat: no-repeat;
}

#compareCabins .row.header .icon
{
	float:left;
	width: 159px;
	height: 110px;
	background-repeat: no-repeat;
	background-position:center;
}

#compareCabins .row.header .gotFeatures,
#compareCabins .row.header .goFeatures,
#compareCabins .row.header .sbFeatures,
#compareCabins .row.header .cbFeatures
{
	float:left;
	width: 159px;
	border-left: 1px solid #C3C1C1;
	height: 235px;
	text-align: center;
	padding: 0px;
}

#compareCabins .row.header .arrow.got
{
	background-image: url('/img/compare-arrow-got.png');
}

#compareCabins .row.header .arrow.go
{
	background-image: url('/img/compare-arrow-go.png');
}

#compareCabins .row.header .arrow.sb
{
	background-image: url('/img/compare-arrow-sb.png');
}

#compareCabins .row.header .arrow.cb
{
	background-image: url('/img/compare-arrow-cb.png');
}

#compareCabins .row.header .icon.got
{
	background-image: url('/img/compare-leaf-got.png');
}

#compareCabins .row.header .icon.go
{
	background-image: url('/img/compare-leaf-go.png');
}

#compareCabins .row.header .icon.sb
{
	background-image: url('/img/compare-leaf-sb.png');
}

#compareCabins .row.header .icon.cb
{
	background-image: url('/img/compare-leaf-cb.png');
}

#compareCabins .row .featureDescription
{
	float: left;
	width: 300px;
	min-height: 30px;
	padding-top: 10px;
}

#compareCabins .row .gotFeatures,
#compareCabins .row .goFeatures,
#compareCabins .row .sbFeatures,
#compareCabins .row .cbFeatures
{
	float:left;
	width: 159px;
	border-left: 1px solid #C3C1C1;
	min-height: 30px;
	text-align: center;
	padding-top: 10px;
	background-repeat:no-repeat;
	background-position:center;
}

#compareCabins .row .title
{
	font-weight: bold;
}

#compareCabins .row .dbl
{
	min-height: 40px;
}

#compareCabins .row .tubGo 
{
	background-image: url('/img/compare-tub-go.png');
}

#compareCabins .row .wiiGo 
{
	background-image: url('/img/compare-wii-go.png');
}

#compareCabins .row .logGo 
{
	background-image: url('/img/compare-log-go.png');
}

#compareCabins .row .tubSilver 
{
	background-image: url('/img/compare-tub-sb.png');
}

#compareCabins .row .wiiSilver 
{
	background-image: url('/img/compare-wii-sb.png');
}

#compareCabins .row .dot 
{
	background-image: url('/img/compare-dot-silver.png');
}

#compareCabins .row .tick 
{
	background-image: url('/img/compare-tick-green.png');
}

#compareCabins .row.last 
{
	border: none;
	min-height: 40px;
}

#compareCabins .row.last .gotAvailability,
#compareCabins .row.last .goAvailability,
#compareCabins .row.last .sbAvailability,
#compareCabins .row.last .cbAvailability
{
	float:left;
	width: 99px;
	border-left: 1px solid #C3C1C1;
	background-position: 140px 18px;
	background-image: url('/img/explore-icon.png');
	background-repeat: no-repeat;
	padding: 10px 50px 0px 10px;
	min-height: 40px;
}

/* End Compare Cabins*/

/* Specific Cabin Booking */
#specificCabin 
{
	float:left;
	width: 320px;
	background-color: White;
	border: 1px solid #dcdcdc;
	margin: 35px 0px 0px 0px;
}

#specificCabin  .container 
{
	float:left;
	width: 300px;
	margin: 10px 10px 10px 10px;
}

#specificCabin .container h2
{
	font-size: 1.95em;
	font-weight: bold;	
	margin: 0px 0px 30px 0px;
}

#specificCabin  .container #extraDetails, #specificCabin  .container .price
{
	font-size: 1.15em;
	margin: 0px 0px 10px 0px;
}

#specificCabin  .container .btnSubmit
{
    background: url("/img/btn-arrow-right.png") #6f2e7f 255px center no-repeat;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    height: 45px;
    padding: 0 20px;
    text-align: left;
    text-shadow: 0 -1px #000;
    width: 280px;	
    margin: 10px 0px 10px 0px;
}

#specificCabin  .container .btnSubmit:hover {
     /* Legacy browser fallback */
    background: url("/img/btn-arrow-right.png") #a748be 255px center no-repeat;
    /* Saf4+, Chrome */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -webkit-gradient(linear, left top, left bottom, from(#a748be), to(#713081));
    /* Chrome 10+, Saf5.1+ */
    background: url"/img/btn-arrow-right.png") 255px center no-repeat, -webkit-linear-gradient(top, #a748be, #713081); 
    /* FF3.6+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -moz-linear-gradient(top, #a748be, #713081); 
    /* IE10 */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -ms-linear-gradient(top, #a748be, #713081); 
    /* Opera 11.10+ */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, -o-linear-gradient(top, #a748be, #713081); 
    /* W3C */
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, linear-gradient(top, #a748be, #713081);
    
    background: url("/img/btn-arrow-right.png") 255px center no-repeat, progid:DXImageTransform.Microsoft.gradient( startColorstr='#a748be', endColorstr='#713081',GradientType=0 );
}

#specificCabin .container .ddlCabinOptions
{
	width: 280px;
	height: 38px;
	line-height: 38px;
    /*margin-bottom: 0.75em;*/
	padding: 0 5px;
	margin: 0px 0px 10px 0px;
}


.map-viewport
{
	float:right;
	margin: 35px 0px 0px 0px;
	position:relative; 
	width:600px; 
	height:400px; 
	overflow:hidden; 
}
	
.map-viewport #map{position:absolute; left:0; top:0; cursor:move;}
.map-viewport .level{ position:absolute; left:0; top:0; z-index:10;}
.map-viewport .current-level{ z-index:20; }

/* Map Key/Notes */
#specificCabinKey
{
	float:left;
	width: 300px;
	padding: 10px 10px 10px 10px;
}

#specificCabinKey p 
{
	font-size: 1.15em;
}

#specificCabinKey h2
{
	font-size: 1.95em;
	font-weight: bold;	
	margin: 5px 0px 10px 0px;
}

#specificCabinKey #pnlSpecificCabinKey
{
	float:left;
	width: 320px;
	background-repeat: no-repeat;
	margin: 5px 0px 0px 0px;
}

/* END Map Key/Notes */

.checkin 
{
	float:left;
	width: 155px;
	height: 38px;
	padding: 5px 0px 0px 45px;
	margin-right: 10px;
	background: url('/img/icon-clock-checkin.png') no-repeat;
}

.checkout 
{
	float:left;
	width: 155px;
	height: 38px;
	padding: 5px 0px 0px 45px;
	margin-right: 10px;
	background: url('/img/icon-clock-checkout.png') no-repeat;
}

/* RATING START */
.ratingStar
{
   font-size: 0pt;
   width: 17px;
   height: 17px;
   margin: 0px;
   padding: 0px;
   cursor: pointer;
   display: block;
   background-repeat: no-repeat;
}

.filledRatingStar {
   background-image: url(/img/FilledStar.png);

}

.emptyRatingStar {
   background-image: url(/img/EmptyStar.png);
}

.savedRatingStar {
   background-image: url(/img/FilledStar.png);
}
/* RATING END */

/******** Sitemap ********/

#sitemapContainer
{
	float:left;
}

#sitemapContainer ul
{
	margin-top: 10px;
}

#sitemapContainer ul li
{
	background: none;
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-top: 5px;
}

#sitemapContainer ul li a
{
	font-size: 1.3em;
	font-weight:bold;
}

#sitemapContainer ul li ul
{
	margin-top: 0px;
}

#sitemapContainer ul.level2 li
{
	background: none;
	margin-left: 0px;
	padding: 0px 0px 0px 25px;
	margin: 5px 0px 0px 0px;
}

#sitemapContainer ul.level2 li a,
#sitemapContainer ul.level3 li a,
#sitemapContainer ul.level4 li a,
#sitemapContainer ul.level5 li a
{
	font-weight: normal;
}
/******** END Sitemap ********/

.ajaxWorking
{
    top: 50%;
    left: 50%;
    width:150px;
    height:90px;
    margin-top: -60px; /*set to a negative number 1/2 of your height*/
    margin-left: -75px; /*set to a negative number 1/2 of your width*/
    border: none;
    background-image: url('/img/ajax-working.png');
    position:fixed;
    text-align: center;
	font-size: 1.5em;
	padding-top: 30px;
	z-index: 9999;
}

.ajaxWorking #canvasloader-container
{
	width:150px;
	margin-bottom: 5px;
}

.ajaxWorking #canvasloader-container #canvasLoader {
	/*float:left;*/
	margin: 0 auto;
	width: 50px;
}

.ajaxWorking #canvasloader-container-searchform
{
	width:150px;
	margin-bottom: 5px;
}

.ajaxWorking #canvasloader-container-searchform #canvasLoader {
	/*float:left;*/
	margin: 0 auto;
	width: 50px;
}

.hidden {display: none;}
